/* 헤더 스타일 */


/* 마이 페이지 공통 부분 -> sideMenu.css */
.myPage-inner{

    margin-top: 30px;
    margin-left: 155px;

} 

.wrapper{
    /* width : 1000px;
    padding: 0 50px; */
    text-align: center;
}
*/
.myPage-main{
    /* display: table-cell; */
    width: 75%;
    height: auto;
    /* padding: 0 50px; */

} 
.myPage-title{
    display: flex;
    justify-content: center;
    width:100%;
    margin:0 0 10px 0;
    font-size: 30px;
}

.myPage-subtitle{
    display: inline-block;
    width:100%;
    margin-left: 60px;
}

.profile-image-area{
    width: 150px;
    height: 150px;
    border : 3px solid #ddd;
    border-radius: 50%;
   
    position : relative;
}
.image-preview {
    width: 100px;
    height: 180px;
    display: flex;
    gap: 20px;
    padding: 0 10px 0;
}
/* 라벨 */
.Img{
     display: flex;
    justify-content: flex-start;
}
.Img >label{
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    cursor: pointer;
}
.input-image{ display: none; }

#delete-image{
    width: 10px;
    height: 20px;
}

#delete-image:hover{
    cursor: pointer;

}

/* 프로필 이미지 */
#profile-image{
    width: 145px;
    height: 143px;
    border-radius: 50%;
}

.myPage-explanation{
    display: flex;
    justify-content: center;
    width:100%;
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: -1px;
}
.myPage-subexplanation{
    display: inline-block;
    width:100%;
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: -1px;
    margin-left: 10px;

}
/* #btnPush{
    width: 500px;
} */
.myPage-subexplanation2{
    display: inline-block;
    width:100%;
    color: rgb(95, 0, 129);
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: -1px;

}

/* 닉네임 부분 */
.box1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}


.myPage-row{
    width: 600px;
    height: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd ;
    padding: 10px;
    margin: 20px 50px !important;
}

.myPage-row>*{
    font-size: 18px;
    font-weight: bold;

}
.myPage-row>label{
    /* width: 30%; */
    color:black;

}

.myPage-row>span{
    width: 70%;

}

.myPage-row>input{
    width: 100%;
    height: 100%;
    border:0;
    outline: 0;
    padding-left: 50px;
    font-weight: normal;
}

.myPage-row:focus-within{
    border-bottom: 2px solid gray;

}

form[name="myPage-form"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

/* 내정보 */
.info-title{
    color:black;
    border: 0;

}
.info-address{
    margin:0;
}


/* 검색 버튼  */
#btnPush{
    /* width: 30%;
    height: 70%;
    font-size: 14px;
    font-weight: normal;
    background-color:  white;
    border:1px solid gray;
    cursor: pointer; */

    height: 50px;
    width: 700px;
    /* padding: 10px; */
    margin: 50px 0;
    border: 1px solid rgb(95, 0, 129);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(95, 0, 129);
    color: white;
    cursor: pointer;

}

#btnPush:hover{
    background-color: white;
    color:rgb(95, 0, 129);
    border: 1px solid rgb(39,39,91);
    background: #fff;
    transition: color 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

#info-update-btn {
    height: 50px;
    width: 600px;
    /* padding: 10px; */
    margin: 50px 0;
    border: 1px solid rgb(95, 0, 129);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(95, 0, 129);
    color: white;
    cursor: pointer;
}
#info-update-btn:hover{
    background-color: white;
    color:rgb(95, 0, 129);
    border: 1px solid rgb(95, 0, 129);
    background: #fff;
    transition: color 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
    /* font-family: gothamL, notokrL; */
}

/* 회원 탈퇴 약관 */
#secession-terms{
    width: 740px;
    height: 180px;
    margin-top: 0%;
    border: 1px solid #ddd; 
 }

 #secession-subexplanation{
    font-size: 14px;
}


/* 비밀번호 변경  */
.myPage-row>input[type="password"]{
    width :70%;
}


/* 비밀번호 변경 관련 메세지 */
.signUp-message{
    font-size: 14px;
    letter-spacing: -1px; /* 자간 */

}
.confirm{color:green;}
.error{color:red;}


/* 주소 검색 버튼 3d효과 */
/* #btnPush{
    display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnPurple{
    background: #A74982;
}

.btnPurple:hover {
    background: #6D184B;
}

.btnPurple.btnPush {
    box-shadow: 0px 5px 0px 0px #6D184B;
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btnPurple.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #6D184B;
}    */


.btnPush {
    height: 60px !important;
    width: 600px!important;
    /* padding: 10px; */
    margin: 50px 50px !important;
    border: 1px solid rgb(95, 0, 129) !important;
    font-size: 15px !important;
    font-weight: bold !important;
    background-color: rgb(95, 0, 129) !important; 
    color: white !important;
    cursor: pointer !important;
    border-radius: 3px;
    
}

.btnPush:hover{
    background-color: white !important;
    color:rgb(95, 0, 129) !important;
    border: 1px solid rgb(39,39,91) !important;
    background: #fff !important;
    transition: color 0.5s ease-in-out !important;
    overflow: hidden !important;
    z-index: 1 !important;
    
}