/* 마이페이지 */
.myPage-content{
    flex-basis: 20%;
    /* width: 100%; */
    /* height: 600px; */
    /* display: inline-grid; */

}
/* .myPage-inner{
    width: 100%;
    display: flex;
    justify-content: center;
} */

.wrapper{
    width: 100%;
    padding: 10px 30px;
}


/* 왼쪽 사이드 메뉴 */
.left-side{
    display: inherit;
}

.list-group{
    display: inline-flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    text-align: center;
} 

.myPage-subTitle>a{
    justify-content: center;
}

.list-group>li{
    list-style: none;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid rgb(235, 235, 235);
}

.list-group > h3{
    font-size: 25px;
    border-bottom: 1px solid black;
    
}

/* 마이 페이지 공통 부분 */
.myPage-main{
    display: table-cell;
    width: 100%;
    padding: 0 50px;

}


form[name="myPage-form"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-group a{
    text-decoration: none;
    color: black;
    display: flex;
    
    font-size: 17px;

}
.list-group>li>a:hover{
    background-color: rgb(155, 89, 182);
    font-size: 17px;
    font-weight: bold;
    
    color: white;
    cursor: pointer;
}

.myPage-subTitle>a>img{
    width: 30px;
    height: 30px;
}