mychat/* 본문 영역 */
.content{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    width: 100%;
}

/* 채팅 전체 영역(리스트+채팅창) */
.main-area{
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

/* 좌측 리스트 영역 */
.left-main{
    padding: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    width: 270px;
    height: 77vh;
    /* border: 1px solid #ebebeb; */
    border: 1px solid #000;/* 가시성을 위한 test용 */
    background-color: #ddd;
    margin: 20px 20px 0 0;
    float: left;
    position: relative;
}

/* 채팅 리스트 박스 영역 */
.left-main ul{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    height: 77vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/* --------------------------------------------- */

/* 채팅창 */

/* 우측 채팅창 본문 전체 */
.right-main{

    padding: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    width: 686px;
    height: 77vh;
    /* border: 1px solid #ebebeb; */
    border: 1px solid #000;/* 가시성을 위한 test용 */
    background-color: #fff;
    float: right;
    margin: 20px 0 165px;
}


/* 채팅창 태그 */
.chat-header{
    margin: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    border-bottom: 1px solid #ebebeb;
    padding: 15px 20px;
    height: 50px;
}

/* 채팅창 헤더의 a태그 */
.chat-header a{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    text-decoration: none;
}

/* 신고 영역 */
.declaration{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    float: right;
    display: table;
}

.declaration div{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.declaration img{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    width: 18px;
    cursor: pointer;
}

/* 채팅 전송 영역 */
.chat-footer{
    margin: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    height: 40px;
    /* padding: 15px 15px 15px 21px; */
    padding: auto;
}

.chat-footer-area{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
}

.chat-footer .chat-input{
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    font-family: 돋움,Dotum,Arial;
    position: relative;
    width: 570px;
    overflow: auto;
    height: 40px;
    outline: 0;
    line-height: 21px;
    color: #000;
    font-size: 15px;
    float: left;
}

.chat-footer button{
    border: none;
    background: none;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0484f6;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    width: 80px;
}

/* -------------------- */
/* 조회 결과 없을 시 */
.sc-not-found-list{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.sc-not-found-room{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.sc-not-found-list img{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    aspect-ratio: auto 120 / 120;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 120px;
    height: 120px;
}

.sc-not-found-list b{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}


.sc-not-found-room img{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    aspect-ratio: auto 120 / 120;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 120px;
    height: 120px;
}

.sc-not-found-room b{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}




/* --------------------- */
/* 채팅방 생성 버튼 */
#openChatRoom{ width: 120px; }

/*  채팅방 생성 모달*/
#chat-modal{
  justify-content: center;
  align-items: center;
}

.modal-body{
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

#chatRoomTitle{ width: 250px;}



/* 채팅창 관련 */
.chatting-area{ 
		margin:auto;
		height: 600px;  
		width : 800px;
		margin-top: 50px;
		margin-bottom: 50px;
		}
	.display-chatting{
		width: 100%;
		height: 450px;
		border : 1px solid black;
		overflow: auto;
		list-style : none;
		padding : 10px 10px;
	}

	.chat{
		display: inline-block;
		border-radius: 5px;
		padding : 5px;
		background-color: #eee;
	}


	.input-area{
		width: 100%;
		display: flex;
	}

	#inputChatting{
		width : 80%;
		resize : none;
	}

	#send{
		width : 20%;
	}

	.myChat{
		text-align: right;
	}

	.myChat > p{
		/* background-color: yellow; */
        background-color: rgb(131, 4, 177);
        color: white;
        
	}

	.chatDate{
		font-size: 9px;
	}

	#exit-area{
		text-align: right;
		margin-bottom : 10px;
	}


	.exit{
		text-align: center;
	}

	.exit > p{
		background-color: rgba(0,0,0, 0.3);
	}


  .chat-exit{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
  } 
  
  
.chatList{
    display: flex;
}