/* 본문 영역 */

.content{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    width: 100%;
    padding-bottom: 150px;
}

/* 채팅 전체 영역(리스트+채팅창) */
.main-area{
    width: 1200px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    
    margin: 0 auto;
    overflow: hidden;
}

/* 좌측 리스트 영역 */
.left-main{
    width: 300px;
    height: 720px;
    padding: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
<<<<<<< HEAD
    

    float: left;
    
=======
    font-family: 돋움,Dotum,Arial;
    width: 270px;
    height: 730px;
    /* border: 1px solid #ebebeb; */
>>>>>>> origin/main
    border: 1px solid #c7c7c7;
    
    background-color: white;
    margin: 20px 0 0 0;
    
    position: relative;
}

/* 채팅 리스트 박스 영역 */
.left-main ul{    
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    height: 77vh;

    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #c7c7c7;
}


/* --------------------------------------------- */

/* 채팅창 */

/* 우측 채팅창 본문 전체 */
.right-main{

    width: 880px;
    padding: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;

    border: 1px solid #c7c7c7;
    float: right;
    background-color: #fff;
    margin: 20px 0 0 0;
}


/* 채팅창 태그 */
.chat-header{
    /*  PHR
    display: block;
    padding: 15px 20px;
    height: 80px;
    border-bottom: 1px solid #c7c7c7; */
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    height: 80px;
    border-bottom: 1px solid #c7c7c7;
    /* 
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 12px 20px;
    border-bottom: 1px solid #ebebeb; */
}

/* 채팅창 헤더의 a태그 */
.chat-header a{
    text-decoration: none;
}

/* 헤더 프로필 이미지 박스 영역 */
.image-box{
    float: left;
    cursor: pointer;
}

#boardimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#boardTitle{
    padding: 0 15px 0 15px;
}

/* 헤더 프로필 정보 영역 */
.info{
    float: left;
    display: table;
    cursor: pointer;
}


/* 신고 영역 */
.declaration{
    float: right;
    display: table;
}

.declaration div{
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.declaration img{
    /* display: block;
    margin-bottom: 13px;
    width: 19px;
    height: 19px;
    cursor: pointer; */
    display: inline-block;
    margin: 10px;
    width: 19px;
    height: 19px;
    cursor: pointer;
}

/* 모달 리스트 */
#spreadBtn04{
    float: right;
}

.icon-emo-sunglasses > img{
    width: 18px;
    cursor: pointer;    
}

/* 채팅 전송 영역 */
.chat-footer{
    margin: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    height: 40px;
    /* padding: 15px 15px 15px 21px; */
    padding: auto;
}

.chat-footer-area{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
}

.chat-footer .chat-input{
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    font-family: 돋움,Dotum,Arial;
    position: relative;
    width: 570px;
    overflow: auto;
    height: 40px;
    outline: 0;
    line-height: 21px;
    color: #000;
    font-size: 15px;
    float: left;
}

.chat-footer button{
    width: 70px;
    height: 45px;
    border: none;
    background-color: #5f0081;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    /* border: none;
    background: none;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: rgb(144, 5, 195);
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    width: 80px; */
}

/* -------------------- */
/* 조회 결과 없을 시 */
.sc-not-found-list{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.sc-not-found-room{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.sc-not-found-list img{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    aspect-ratio: auto 120 / 120;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 120px;
    height: 120px;
}

.sc-not-found-list b{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}


.sc-not-found-room img{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    aspect-ratio: auto 120 / 120;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 120px;
    height: 120px;
}

.sc-not-found-room b{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}




/* --------------------- */
/* 채팅방 생성 버튼 */
#openChatRoom{ width: 120px; }

/*  채팅방 생성 모달*/
#chat-modal{
  justify-content: center;
  align-items: center;
}

.modal-body{
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

#chatRoomTitle{ width: 250px;}




.chat{
    display: inline-block;
    border-radius: 5px;
    padding : 5px;
    background-color: #eee;
}


.input-area{
    width: 100%;
    display: flex;
}

#inputChatting{
    width : 80%;
    resize : none;
}

/* #send{
    width : 20%;
} */

.myChat{
    text-align: right;
}

.myChat > p{
    /* background-color: yellow; */
    background-color: rgb(95, 0, 129);
    color: white;
    
}

.chatDate{
    font-size: 9px;
}

#exit-area{
    text-align: right;
    margin-bottom : 10px;
}


.exit{
    text-align: center;
}

.exit > p{
    background-color: rgba(0,0,0, 0.3);
}


.chat-exit{
width: 100%;
text-align: center;
background-color: black;
color: white;
} 
  

.chatList{
/*      color: white; 
    display: flex;
    float: left;
<<<<<<< HEAD
    width: 300px;
    height: 50px;
    /* background-color: rgb(193, 142, 216); */
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
    transition-duration: 0.3s;
    padding: 3px;
}
=======
    width: auto; height: 50px;
     background-color: rgb(193, 142, 216); 
    border-radius : 20px;
    box-shadow : 3px 3px 3px black;
    transition-duration: 0.3s; */
    /* phr */
    display: flex;
    width: auto;
    height: 45px;
    width: 600px;
    border-bottom: 1px solid lightgray;
} 
>>>>>>> origin/main

.chatList:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
    background-color: rgb(193, 142, 216);
}

/* 버튼 영역 */
/* .headerBtnArea{
    display: flex;
    text-align: center;
    width: auto;
    height: 40px;
    
} */
/* #headerBtnArea button{
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
} */