/* 채팅방 생성 버튼 */
#openChatRoom{ width: 120px; }

/*  채팅방 생성 모달*/
#chat-modal{
  justify-content: center;
  align-items: center;
}

.modal-body{
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

#chatRoomTitle{ width: 250px;}



/* 채팅창 관련 */
/* .chat-body{ 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    font-family: 돋움,Dotum,Arial;
    overflow: auto;
    height: calc(77vh - 151px);
    border-bottom: 1px solid #ebebeb;
    bottom: 49px;
}
 */

 /* 채팅창 본문 */
.display-chatting{

    position: sticky;
    width: 682px;
    height: 550px;
    
    overflow: auto;
    list-style : none;
    padding : 10px 10px;
    border-bottom: 1px solid #c7c7c7;
    
}

.chat{
    display: inline-block;
    border-radius: 5px;
    padding : 5px;
    background-color: #eee;
}


.input-area{
    /* width: 100%;
    display: flex; */
    /* --------------- */
    margin: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    color: #333;
    height: 40px;
    padding: 15px 15px 15px 21px;
}

#inputChatting{
    /* width : 80%;
    resize : none; */
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
    position: relative;
    width: 570px;
    overflow: auto;
    height: 40px;
    outline: 0;
    line-height: 21px;
    color: #000;
    font-size: 15px;
    float: left;
}

#send{
    width : 20%;
}

.myChat{
    text-align: right;
}

/* .myChat > p{
    background-color: yellow;
} */

.chatDate{
    font-size: 9px;
}

#exit-area{
    text-align: right;
    margin-bottom : 10px;
}


.exit{
    text-align: center;
}

.exit > p{
    background-color: rgba(0,0,0, 0.3);
}


.chat-exit{
width: 100%;
text-align: center;
background-color: black;
color: white;
}

.chatDiv{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    cursor: pointer;
    height: 80px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
    user-select: none;
    background-color: white;
    position: relative;
    left: 0px;
    padding: 30px 10px 30px 10px;
}

/* .active{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    cursor: pointer;
    height: 80px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
    user-select: none;
    background-color: white;
    position: relative;
    left: 0px;
    background-color: #E5E5E5;
} */
#active{
    background-color: #E5E5E5;
}

.card-box{
    color: white;
}

.chatDiv .profile{
    letter-spacing: -1px;
    word-break: break-all;
    user-select: none;
    color: rgb(30, 29, 41);
    cursor: pointer;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    min-width: 50px;
    height: 50px;
}

.chatDiv .profile a{
    letter-spacing: -1px;
    word-break: break-all;
    user-select: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    color: rgb(30, 29, 41);
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.profile > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.memberNick{
    color: rgb(30, 29, 41);
    word-break: break-all;
    cursor: pointer;
    user-select: none;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.chat-footer{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 25px 10px;
}


.chat-footer-area{
    letter-spacing: -1px;
    color: rgb(30, 29, 41);
    word-break: break-all;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 40px;
    background-color: rgb(250, 250, 250);
    
    width: 100%;
}

textarea #inputChatting{
    word-break: break-all;
    font-family: primary, secondary, -apple-system, BlinkMacSystemFont, AppleSDGothicNeo, "Noto Sans KR", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    appearance: none;
    outline: none;
    border: none;
    line-height: 1.2;
    background: transparent;
    width: 100%;
    letter-spacing: -0.5px;
    overflow-y: hidden;
    padding: 13px 0px 13px 16px;
    resize: none;
    box-sizing: border-box;
    height: 45px !important;
}

