
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {font-family: "NanumSquareRound";}


body{
    margin: 0;
}

.content{
    width: auto;
    min-height: 900px;
    display: flex;
    justify-content: center;
}

.main{
    margin: 10px 0 100px 150px;
    width: 1000px;
    height: auto;
    display: flex;
}

/* 상단 목록 */
.selectBtn:nth-child(1){
    border: 1px solid #0e194e;
    background-color: rgb(95, 0, 129);
    color: white;
    }
    .selectBtn:nth-child(n+2){
    border: 1px solid black;
    background-color: white;
    color: black;
    }
    .selectBtn:nth-child(n+2):hover{
    background-color: rgb(95, 0, 129);
    color: white;   
    }


#FAQ-container{
   display: inline-block;
   border: 1px solid #ddd;
   width: 80%;
   
}

#FAQ-main{
    padding: 20px;
}

#FAQ-middle{
    border: 1px solid #ccc;
    margin-top: 30px;
}



#select-area{
    border: 1px solid #ddd;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;



}

#FAQ-header{
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 23px;
    border-bottom: 1px solid #ccc;
    background-color: #ddd;

}

/* ----------------------------------- */

.FAQ{
    list-style: none;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.FAQ > li{
    padding: 20px 0;
    box-sizing: border-box;

}
