
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'NanumSquareRound';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundEB.woff2) format('woff2');
    font-display: swap;
} */


* {font-family: "NanumSquareRound";}

/* header */
*{box-sizing: border-box;}
body{
    margin: auto;
    
}
header{
    height: 100px;
    width: 1400px;
    /*margin-top: 15px; */
}
#top{
    top: 0;
    width: 1400px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
    flex-basis: 100%;
    padding-right: 20px;
}
#top>a:hover{
    text-decoration-line: underline;
}
#top>*{
    text-decoration: none;
    color: gray;
    font-size: 14px;
    padding: 10px  10px  0 0;
}

/* 상단 메뉴 + 검색 바 */
#header{
    position: fixed;
    top: 0 ;
    width: 1400px;
    height:  100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 50px 0 50px ; */
    /* margin-top: 15px; */
    z-index: 2;
}
section>#menu{
    display: flex;
    justify-content: left;
}
section>.right-header{
    display: flex;
    justify-content: right;
}
.button{
    padding-left:10px ;
    font-size: 16px;
    border: 0;
    background-color: white;
    color: #5f0081;
}
.button:hover{
    text-decoration: underline;
    cursor: pointer;
}


section>button>.fa-solid{
    padding-right: 5px;
}


#header>section{
    flex-basis: 33.3%;
}

#home-logo{
    height: 90px;
    width: 230px;
    /* margin-right: 20px; */
}
.fa-bars{
    color: #5f0081;
    text-decoration: none;
    font-size: 30px;
}
#menu{
    display: flex;
    align-items: center;
}

#search2{
    border: none;
    flex-basis: 100%;
    font-size: 18px;
}
#search2:focus{
    outline: none;
}
.mid-header{
    width: 450px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(95, 0, 129);
    border-radius: 3px;
    padding-left: 12px ;
}

.right-header{
   display: flex;
   justify-content: right;
   align-items: flex-end;
   margin: 5px 5px 5px;
   
}
.right-header{
    border: 0;
    outline: 0;
    background-color: white;
    color: rgb(95, 0, 129);
    font-size:25px;
    margin-right: 20px;
}



/* 카테고리  */
/* 카테고리  */
/* 카테고리  */

#category-area{
    position: fixed;
    top: 95px;
    width: 500px;
    height: 700px;
    display: none; 
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    /* display: flex;
    flex-direction: row; */



}

#category-area > ul{

    width: 50%;

}

#category-area > ul:first-child{

    border-right: 1px solid #ccc;

}



#item-category{
    display: flex;
    flex-direction: column;
    padding-left: 1px;
}


#item-category > li{
    list-style: none;
    padding: 10px 0 10px 30px;
    margin-bottom: 1px;
    
}

#item-category > li:first-child{

    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 0px !important; 
}


#item-category > li:hover{
    background-color: rgb(95, 0, 129);
    color: #fff;
    cursor: pointer;
    
}

/* 카테고리 중분류 */
#div-category{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

#div-category > li{
    list-style: none;
    margin: 10px 0 10px 0;

}

