header {
    width: 100%;
    height: 100px;
    font-size: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}

a {
    text-decoration: none;
    color: black;
}

main {
    margin: auto;
}

footer {
    width: 100%;
    height: 100px;
    font-size: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}

* {
    box-sizing: border-box;
}

/* 전체 페이지 가운데 정렬 */
#contaioner {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* 전체 페이지 크기 */
#item-page {
    width: 1200px;

}

#category {
    margin: 15px 0 15px 0;

}

#category a {
    margin-left: 20px;
    width: 300px;
    /* border: 1px solid #ccc; */
    font-size: 20px;
}
#category a:hover {
    background-color: #5f0081;
    color:white;
}


/* item-detail main 화면 */


/* item-detail head 화면 */
#item-detail-head {
    display: flex;
    flex-direction: row;

    /* 임시 높이 */
    height: 480px;

    border-top: 1px solid #ccc;

}

/* item 이미지 크기 */
#item-image {
    width: 380px;
    height: 380px;

}



/* head 이미지 오른쪽 상품 정보 크기 */
#item-info {
    width: 60%;
}



/* head 이미지 오른쪽 상품 정보 */

#item-title {
    height: 20%;
    font-size: 28px;
    padding-top: 15px;
    padding: 30px 0 5px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#item-price {
    height: 18%;
    font-size: 40px;
    padding: 0px 0 5px 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

/* 찜, 조회수, 작성시간 erea */
#item-layer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12%;
    font-size: 22px;
    padding-top: 15px;
    padding-left: 20px;
    align-items: center;


    font-weight: bold;



}

#item-layer>* {
    margin-right: 10%;
    width: 20%;
}

#item-layer a {
    float: right;
}

#item-condition {
    height: 10%;
    font-size: 15px;
    padding: 15px 20px 5px 20px;

    display: flex;
    align-items: center;
}

#item-delivery {
    height: 10%;
    font-size: 15px;
    padding: 15px 20px 5px 20px;

    display: flex;
    align-items: center;
}

#item-sell-area {
    height: 10%;
    font-size: 15px;
    padding: 15px 0 5px 20px;

    display: flex;
    align-items: center;
}

#item-contaioner {
    width: 1500px;

    margin-top: 50px;
}

#contaioner {
    display: flex;
    flex-direction: column;
    margin: none;

}


#seller-items {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

#info-button-area {
    height: 15%;
    margin-top: 20px;
}

#info-button-area>button:first-child {
    margin-left: 20px;
    width: 270px;
    height: 70px;
    margin-right: 6px;
    background-color: #5f0081;
    color: white;

    font-size: 20px;
}

#info-button-area #do-chat {

    width: 400px;
    height: 70px;
    font-size: 20px;

    background-color: #5f0081;
    color: white;
}
/* #info-button-area>button:nth-child(2) {

    width: 400px;
    height: 70px;
    font-size: 20px;

    background-color: #5f0081;
    color: white;
} */

#under-head {

    margin: 30px 0 15px 0;
}


.box {
    border: 1px solid #ccc;

}


/* 상품 목록 */
#seller-items,
#item-detail-foot {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.box {
    flex-basis: 18%;
    width: 220px;
    /* height: 320px; */
    border: 1px solid lightgray;
}

.image {

    height: 214px;
    width: 100%;
    border: 1px solid gray;
}

/* 추가한 것 */
.image>img{
    width: 100%;
    height: 100%;
}

/* 제목 */

.title {
    text-decoration: none;
    color: black;
}

.name2 {
    display: flex;
    justify-content: space-between;
}

.title1>div {
    margin: 0;
}

.title1 {
    display: inline-block;
    align-content: end;
    margin: 5px 10px 0;
}

.time {
    margin-left: 90px;
}



/* 상품 상세페이지 상품 설명, 판매자 정보 */
#item-detail-body {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #ccc;

}

#body-info-text {
    width: 750px;
    height: 350px;
    padding: 20px;

    margin-bottom: 40px;
}

#body-profile-area {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;

}

#profile-box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
}



#profile-box div {
    height: 30%;
    width: 60%;
    padding: 20px 0 20px 10px;

}

#profile-image {
    width: 150px;
    height: 150px;
}

/* 프로필 리뷰 */
#profile-review {
    margin-top: 10px;
}

#profile-review div {
    padding: 10px;
}


#review-text {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
}



/* 모달창창창 */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }

  .show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
  }

  .window {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    /* 임시 지정 */
    width: 600px;
    height: 400px;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
  }

  .show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }


  #report-area{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #report-area > textarea{
    margin-top: 20px;
    width: 500px;
    height: 250px;
    z-index: 500;
  }
  #close{
    margin: 8px 0 0 520px;
  }

  #reportBtn{
    
    width: 150px;
    height: 40px;
    margin-left: 140px;
    z-index: 300;
  }

  #report-text{
    margin-top: 0px;
    margin-left: 200px;
  }

  #selectBtn-area{
    padding-top: 20px;
    height: 55px;
    display: flex;
    justify-content: space-around;
  }


.img-box{
    display: flex;
}

.boardImg{
    padding: 5px;
}



#category{
    display: flex;
    flex-direction: row;
    height: 40px;
    
}


#category > div{
    margin-right: 60px;
    font-size: 18px;
    display: flex;
    align-items: center;
}