/* header */
*{box-sizing: border-box;}

body{
    width: 1400px;
    /* min-height: 800px; */
    margin: 0 200px 0;
    /* padding: 56px 0 24px; */
}
header{
    height: 100px;
    /* width: 1400px;
    margin-top: 15px; */
}
#top{
    position: fixed;
    left: 1400px;
    display: flex;
    justify-content: right;
    margin-right: 10px;
    z-index: 10;
}
#top>a:hover{
    text-decoration-line: underline;
}
#top>*{
    text-decoration: none;
    color: gray;
    font-size: 14px;
    margin-right: 12px;
    padding: 10px 0 5px;
}

/* 상단 메뉴 + 검색 바 */
#header{
    position: fixed;
    top: 0 ;
    width: 1400px;
    height:  100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 50px 0 50px ; */
    /* margin-top: 15px; */
    z-index: 2;
}

#header>section{
    flex-basis: 30%;
}

#home-logo{
    height: 70px;
    width: 180px;
    /* margin-right: 20px; */
}
.fa-bars{
    color: rgb(95, 0, 129);
    text-decoration: none;
    font-size: 30px;
}
#menu{
    display: flex;
    align-items: center;
}

#search2{
    border: none;
    
}
#search2:focus{
    outline: none;
}
.mid-header{
    
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(95, 0, 129);
    border-radius: 3px;
    padding: 0 12px ;
}
#button{
    color: rgb(95, 0, 129);
    font-size: 23px;
}
.right-header{
   display: flex;
   justify-content: right;
   align-items: center;
   margin: 5px 5px 5px;
   
}
.right-header>*{
    color: rgb(95, 0, 129);
    font-size:30px;
    margin-right: 20px;
}



/* 카테고리  */

#category-area{
    position: fixed;
    width: 500px;
    height: 700px;
    /* display: none; */
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: row;

}

#category-area > ul{

    width: 50%;

}

#category-area > ul:first-child{

    border-right: 1px solid #ccc;

}



#item-category{
    display: flex;
    flex-direction: column;
    padding-left: 1px;
}


#item-category > li{
    list-style: none;
    padding: 10px 0 10px 30px;
    margin-bottom: 1px;
    
}

#item-category > li:first-child{

    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 0px !important; 
}


#item-category > li:hover{
    background-color: rgb(95, 0, 129);
    color: #fff;
    cursor: pointer;
    
}

/* 카테고리 중분류 */
#div-category{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

#div-category > li{
    list-style: none;
    margin: 10px 0 10px 0;

}


/* body- 메인 banner */

.slide-list{
    /* margin: 0 100px 0; */
    height: 500px;
    width: 1400px;
    background-color: rgba(211, 211, 211, 0.404);
}
.slide-list{
    display: inline-block;
    justify-content: center;
}
#angel{
    position: absolute;    
    padding: 0;
    font-size: 30px;
}
#angel>a:first-child{
    position: absolute;
    left:5px;
    top: 0px;
    color: rgba(95, 0, 129, 0.406);
}
#angel>a:last-child{
    position: absolute;
    left:1385px;
    top: 0px;
    color: rgba(95, 0, 129, 0.406);
    
}
/* 상품 목록 */
.frame{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.box{
    flex-basis: 17%;
    width: 200px;
    /* height: 320px; */
    border: 1px solid lightgray;
}
.image{
    
    height: 250px;
    border: 1px solid gray;
}
/* 제목 */

.title{
    text-decoration: none;
    color: black;
}
.name2{
    display: flex;
    justify-content: space-between;
}
.title1>div{
    margin: 0;
}
.title1{
    display: inline-block;
    align-content: end;
    margin: 5px 10px 0;
}
