
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'NanumSquareRound';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundEB.woff2) format('woff2');
    font-display: swap;
} */


* {font-family: "NanumSquareRound";}
body{
    width: 1400px;
    margin: auto;
}

/* body- 메인 banner */

.slide-list{
    display: inline-block;
    justify-content: center;
 
}
.mySlides-list>div>img{
    height: 600px;
    width: 1400px;
}

#angel{
    position: absolute;    
    padding: 0;
    font-size: 30px;
}
#angel>a:first-child{
    position: absolute;
    left:5px;
    top: 0px;
    color: rgba(95, 0, 129, 0.406);
}
#angel>a:last-child{
    position: absolute;
    width: 1400px;
    top: 0px;
    color: rgba(95, 0, 129, 0.406);
    
}

/* 이번주 상품 추천 */

#itmes{
    padding: 30px  5px 30px;
}

/* 상품 목록 */
.frame{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 25px;
    /* margin: 0 20px 0; */
}

.box{
    flex-basis: 19%;
    width: 100%;
    height: 320px;
    border: 1px solid lightgray;
    margin-right: 15px;
}
.image{
    height: 250px;
    width: 265px;
    /* border: 1px solid lightgray; */
}
.image>img{
    height: 250px;
    width: 265px;
    
}
/* 상품명 */
.title{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.title1{
    display: block;
    align-items: end;
    margin: 5px 10px 0;
}
.name2{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0 10px;
}
.price{
    font-size: 19px;
    font-weight: bold;
}
.time{
    font-size: 13px;
}


/* 사이드 메뉴 */

#main-sideMenu{

    position: fixed;
    left: 1700px;
    top: 400px;
    width: 66px;
    height: 188px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#main-sideMenu > div{
    width: 60px;
    height: 60px;
    border: 1px solid black;
}


/* 모달창창창 */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }

  .show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
  }

  .window {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    /* 임시 지정 */
    width: 600px;
    height: 400px;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
  }

  .show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }


  #modal-area{
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*   #modal-area > textarea{
    margin-top: 20px;
    width: 500px;
    height: 250px;
    z-index: 500;
  } */
  #close{
    margin: 8px 0 0 520px;
  }

  #reportBtn{
    
    width: 150px;
    height: 40px;
    margin-left: 140px;
    z-index: 300;
  }

  #modal-text{
    margin-top: 0px;
    margin-left: 200px;
  }

  #selectBtn-area{
    padding-top: 20px;
    height: 55px;
    display: flex;
    justify-content: space-around;
  }


.img-box{
    display: flex;
}

.boardImg{
    padding: 5px;
}









