
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {font-family: "NanumSquareRound";}

*{box-sizing: border-box;}

html{
    width: 1000px;
    margin: auto;
}

 /* 로고 */ 
 header{
    height: 180px;
    width: 1000px;
    /*margin-top: 15px; */
}

#header{

    width: 1000px;
    height:  180px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 40px;
    /* margin-top: 15px; */
    z-index: 2;
}
#menu{
    display: flex;
    align-items: center;

}

#home-logo{
    height: 170px;
    width: 300px;
}

section>#menu{
    display: flex;
    justify-content: left;
}

/* 메뉴 */
.top-menu{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0;
    height: 70px;
    font-size: 15px;
    border-bottom: 1px solid lightgray ;
    border-top: 1px solid lightgray;
}

#mainMenu>a{
    text-decoration: none;
    padding: 8px;
    color: black;
     font-weight:8px ;
}
#mainMenu>:nth-child(2){
    color: rgb(95, 0, 129);
    font-weight: 900;
}
#mainMenu>a:hover{
    cursor: pointer;
    color: rgb(95, 0, 129);

}
#mainMenu2>a{
    text-decoration:  none;
    color: black;
}
#mainMenu2>a:hover{
    color: rgb(95, 0, 129);
}

/* 중간 카테고리 및 검색창 */
.option{
    width: 1000px;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-left: 20px;
}

.search1> :nth-child(2){
    color: white;
    background-color: rgb(95, 0, 129);
    border: 0;
}
/* 검색 */
.basic{
    justify-content: left;
    display: flex;
}
.basic1{
    padding-left: 20px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
.basic> :nth-child(2) {
    color: white;
    background-color: rgb(95, 0, 129);
    border: 0;
    height: 30px;
    border-radius: 3px;
}

.search1{
    flex-basis: 30%;
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: left;
    border-radius: 3px;
    border: 0;
}
#search2:focus{
    outline: none;
}
#search2 {
    margin: 0;
    width: 200px;
    height: 30px;
}
/* table */
select {
    width: 90px;
    height: 30px;
    padding-left: 5px;
    font-size: 13px;
    margin-right: 10px;
}
table{
    width: 1000px;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 12px;
}
th{
    font-size: 13px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    /* padding-bottom: 5px; */
}
tr>td>a{
    text-decoration: none;
    color : black;
}
tr>td>a:hover{
    text-decoration-line: underline ;
    text-decoration-color:rgb(95, 0, 129);
}

tbody>tr{
    border-bottom: 1px solid lightgray;
    height: 50px;
}
/* table th size */
th:nth-child(1){width:5%;}
th:nth-child(2){width:7%;}
th:nth-child(3){width:9%;}
th:nth-child(4){width:15%;}
th:nth-child(5){width:9%;}
th:nth-child(6){width:18%;}
th:nth-child(7){width:6%;}
th:nth-child(8){width:16%;}
th:nth-child(9){width:8%;}
th:nth-child(10){width:8%;}


/* 전체선택 */
.last{
    width: 1000px;
    margin: 10px 15px 0;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.last>div{
    font-size: 13px;
    /* margin-right: 3px; */
}
#deleteBtn{
    width: 40px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(95, 0, 129);
    color: white;
    margin-left: 10px;
    border-radius: 3px;
    border: 0;
}

#deleteBtn:hover{
    cursor: pointer;
    color: rgb(95, 0, 129);
    background-color: white;
    border: 1px solid gray;
    font-weight: bold;

}


/* 페이지네이션 */
.pagination{
    margin: 50px;
    display: flex;
    justify-content: center;
    
}

.pagination>li>a{
    list-style: none;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

  
  .pagination a.current {

    background-color: rgb(95, 0, 129);
    border-radius: 3px;
    color: white;
  }
  ul{
    list-style: none;
  }

  .pagination a:hover:not(.active) {background-color: #ddd;}