
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {font-family: "NanumSquareRound";}

*{box-sizing: border-box;}

body{
    width: 1400px;
    margin: auto;
}
 /* 로고 */ 
 header{
    height: 200px;
    width: 1400px;
    /*margin-top: 15px; */
}

#header{
    position: fixed;
    top: 0 ;
    width: 1400px;
    height:  200px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 40px;
    /* margin-top: 15px; */
    z-index: 2;
}
#menu{
    display: flex;
    align-items: center;

}

#home-logo{
    height: 200px;
    width: 320px;
    /* margin-right: 20px; */
}

section>#menu{
    display: flex;
    justify-content: left;
}

/* 첫번째 메뉴 */
.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0;
    height: 70px;
    font-size: 20px;
    border-bottom: 1px solid lightgray ;
    border-top: 1px solid lightgray;
}

#mainMenu>a{
    text-decoration: none;
    padding: 8px;
    color: black;
     font-weight:8px ;
}
#mainMenu>:nth-child(1){
    font-weight: 600;
    color: rgb(95, 0, 129);
}
#mainMenu>a:hover{
    cursor: pointer;
    font-weight: 600;
    color: rgb(95, 0, 129);
}
