
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {font-family: "NanumSquareRound";}

*{box-sizing: border-box;}


body{
    width: 1400px;
    margin: auto;
}

.body{
    width: 1000px;
    margin: auto;
    height: 100%;

}




/* 메뉴 */
.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0;
    height: 70px;
    font-size: 20px;
    /* border-bottom: 1px solid lightgray ;*/
    /* border-top: 1px solid lightgray;  */
}
/* 제목 */
#mainMenu>h3{   
    color: rgb(95, 0, 129);
}

#mainMenu{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#inquire{
    font-size: 13px;
    border-bottom: 1px solid gray;
    /* padding: 1px; */
}
#inquire:hover{
    color: rgb(95, 0, 129);
    font-weight: bold;
}

.list3{
    height: 100px;
    padding-left: 20px;
}

.list3>:nth-child(1){
    color: gray;
}
h2{
    margin: 0;
}
.list5{
    width: 980px;
    height: 200px;
    /* border: 1px solid #ddd; */
}

.list5>div{
    margin: 20px;
    font-size: 18px;
}

#photo1{
    border: 1px solid #ddd;
    width:190px;
    height: 180px;
}



/* 하단 위 */

#chat{
    padding-top: 20px 0  20px;
    margin: 50px 0 20px;
    width: 1000px;
    display: inline-block;
    justify-content: center;
    text-align : center;
   /* border-top: 1px solid #ddd; */
}
textarea{
    margin: 50px 0 50px;

    width: 900px;
    height: 6.25em;
    border: 1px solid #ddd;
    resize: none;
    font-size: 14px;
    padding: 10px;
}
textarea:focus{
    outline: none;
}

/* 답장 란 */

.information{
    display: flex;
    justify-content: left;
    padding-left: 10px;
}
.information>p{
    padding: 5px;
}
.information>p:nth-child(2){
    color: gray;
    margin-bottom: 20px;
}
.information1{
    display:flex;
}

/* 댓글 부분 */
#reply1{
    padding: 10px;
}
#delete{
   
    width: 50px;
    text-align: center;
    color: white;
    background-color:rgb(95, 0, 129) ;
    font-weight: 900;
    border-radius: 3px;
}
#delete:hover{
    cursor: pointer;
}


.feedback{
    width: 980px;
    height: 100%;
    display: flex;
    padding: 20px;
    border: 1px solid #ddd;
}

/* 하단 유의사항 */
.inform{
    /* border-top: 1px solid lightgray; */
    color: gray;
    margin: 0 200px 0;
    padding: 50px;
}
.inform>ul>li{
    padding: 3px;
}
#reply1{
    display: flex;
    align-items: center;
}

#reply2{
    width: 90px;
    height: 85px;
    background-color: rgb(95, 0, 129);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 5px;
}
#reply2:hover{
    background-color:white ;
    color:rgb(95, 0, 129) ;
    border: 1px solid gray;
    font-weight: bold;
}