*{box-sizing: border-box;}
main{
    display: block;
    width: 1400px;
}
body>div>a*{
    text-decoration: none;
}
/* 첫번째 메뉴 */
.top-menu{
    width: 1400px;
    border-bottom: 1px solid lightgray ;
    border-top: 1px solid lightgray;
}

#mainMenu{    
    display: flex;
    height: 50px;
    font-size: 15px;
    align-items: center;
}
#mainMenu>a{
    text-decoration: none;
    padding: 8px;
    color: black;
     font-weight:8px ;
}
#mainMenu>:nth-child(1){
    font-weight: 600;
    color: rgb(95, 0, 129);
}
#mainMenu>a:hover{
    cursor: pointer;
    font-weight: 600;
    color: rgb(95, 0, 129);
}

main>ul:nth-child(4){
    height: 100px;
}
/* 기본정보 section */
.basic2{
    list-style:none;
    padding: 0 20px 10px ;
}

.basic{
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 140px;
    font-size: 20px;
}
.basic> :nth-child(2){
    margin-left: 20px;
    color: rgb(95, 0, 129);
}

.frist{
    display: flex;
    
}
span{
    color: rgb(95, 0, 129);
}
/* 상품이미지 */
.title{
    display: inline-block;
    justify-content: center;

    width: 130px;
}
.itemImage2{
    display: inline-block;
}

li {
    list-style: none;
    }

img {
    width: 180px;
    height:180px;
}

.real-upload {
    display: none;
 }

.upload {
    width: 180px;
    height: 180px;
    background-color: antiquewhite;
 }

.image-preview {
    width: 100px;
    height: 180px;
    display: flex;
    gap: 20px;
    padding: 0 10px 0;
}
#ex{
    color:rgb(52, 152, 219);
    font-size: 13px;
    padding: 18px;
}
/* 제목 */
.basic2{
    display: flex;
    justify-content: left;
    border-bottom: 1px solid lightgray ;
    /* height: 90%; */
}
.search1{
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid lightgray;
    border-radius: 3px;
    padding-left: 12px ;
}
#search2 {
    border: none;
    flex-basis: 100%;
    font-size: 90%;

    appearance: none;

}
#search2:focus{
    outline: none;
}
#button{
    padding-left:10px ;
    font-size: 20px;
    border: 0;
    background-color: white;
    color: #5f0081;
    padding-right:8px ;
}
#button:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* 카테고리 */
form>ul:nth-child(4){
    height: 120px;
}
/* 카테고리 박스 사이즈 조절 */
#category{
    width: 210px;
    height: 250px;
    display: flex;
    justify-content: left;
    overflow-x: hidden;
    border: 1px solid rgba(195, 194, 204, 0.781);
    margin-left: 10px;
  
}

.select{
    width: 250px;
    height: 100%;
    padding: 6px 1.5rem;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 0px;
    font-size: 16px;
    display: flex;
    justify-content:left;
    padding: 5px;
    font-size: 100%;

}

.select2{
    width: 250px;
    height: 100%;
    padding: 6px 1.5rem;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 0px;
    font-size: 16px;
    display: flex;
    justify-content:left;
    padding: 5px;
    font-size: 100%;

}

.select:hover{
    height: 100%;
    background-size:length 200px ;
    background-color:rgba(195, 194, 204, 0.288);
}
.select2:hover{
    height: 100%;
    background-size:length 200px ;
    background-color:rgba(195, 194, 204, 0.288);
}

.category1-1{
    width: 150px;
    height: 30px;
    padding: 0 !important;
    margin-left: 5px;
    font-size: 16px;
}
#category3{
    padding: 10px;
    display: flex;
    justify-content: left;
}
#category4{
    color: #5f0081;
}
#category5{
    color: #5f0081;
}

/* 거래지역 */
.place{
    display: flex;
    justify-content: left;
    align-items: center;
}
.place>button{
    width: 100px;
    height: 40px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid rgba(195, 194, 204, 0.781);
    font-size: 80%;
}
.place>button:hover{
    background-color:rgba(195, 194, 204, 0.288);
    cursor: pointer;
}
.placeResult{
    width: 700px;
    height: 40px;
    background-color: rgba(195, 194, 204, 0.288);
    border: 1px solid rgba(195, 194, 204, 0.781);
    display: flex;
    align-items: center;
    font-size:  90%;
    font-synthesis: none;
    margin:   10px  0; 
    padding-left: 10px;
    outline: none;
}
.place2{
    padding: 10px 0;
}
/* 상태 */
/* [라디오 버튼 커스텀 스타일 변경 실시] */
input[type='radio'] {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    /* [라디오 버튼 테두리 색상 정의] */
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    /* [라디오 버튼 배경 색상 정의] */
    background:#ffffff;
}
input[type='radio']:before {
    /* [content null 설정해서 커스텀 지정] */
    content:'';
    display:block;
    width:60%;
    height:65%;
    margin: 13% auto;
    border-radius:50%;  
}
input[type='radio']:checked:before {
    /* [라디오 버튼이 클릭 되었을 경우 내부 원형 색상] */
    background:#5f0081;
}

/* 가격 */
.price{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding-left: 12px ;
    font-size: 90%;
}

/* 설명 */
.info{
    width: 1000px;
    height: 170px;
    
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 0  12px 0 ;
    margin-bottom: 16px;
}
/* .info2{
    
    width: 1000px;
    height: 200px;
    border: none;
    resize: none;
} */

textarea {
    width: 100%;
    height: 95%;
    border: none;
    resize: none;
    font-size: 90%;
    margin: 3px;
  }
textarea:focus{
    outline: none;   
}
#inform{
    padding: 0;
    display: flex;
    justify-content: end;
}

/* 등록버튼 */
.submit{
    width: 1400px;
    height: 60px;
    position: sticky;
    display: flex;
    justify-content: end;
    align-content: center;
    padding: 5px 20px 10px;
    bottom: 0;
    right: 50px;
    z-index: 1;
    background-color: white;

}

.submit2{
    width: 70px;
    height: 30px;
    background-color: #5f0081;
    color: white;
    border: 0;
    font-size: 15px;
}

.submit2:hover{
    color: #5f0081;
    background-color: white;
    border: none;
}

/* 이미지관련 */
/* 이미지를 감싸는 div */
.boardImg{
    width: 180px;
    height: 180px;
    display: inline-block;
    text-align: center;

    position : relative;
}

/* 미리보기 영역 */
.boardImg > label{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    cursor: pointer;
}

/* file타입 input */
.inputImage{ display: none; }

/* 미리보기 이미지 */
.preview{
    max-width: 100%;
    max-height: 100%;
    /* 지정된 칸 내부에 비율을 변경하지 않고 이미지 배치 */
}

/* 이미지 미리보기 삭제 */
.delete-image{
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 20px;
    cursor: pointer; 
}


/* 썸네일만 영역 크기 증가 */
.thumbnail{
    width: 300px;   
    height: 300px;
}