*{box-sizing: border-box;}
main{
    display: block;
    width: 1400px;
}
body>div>a*{
    text-decoration: none;
}
/* 첫번째 메뉴 */
.top-menu{
    width: 1400px;
    border-bottom: 1px solid lightgray ;
    border-top: 1px solid lightgray;
}

#mainMenu{    
    display: flex;
    height: 50px;
    font-size: 15px;
    align-items: center;
}
#mainMenu>a{
    text-decoration: none;
    padding: 8px;
    color: black;
     font-weight:8px ;
}
#mainMenu>a:hover{
    cursor: pointer;
    color: rgb(95, 0, 129);
}

/* 기본정보 section */
.basic2{
    list-style:none;
    padding: 0 20px 10px ;
}

.basic{
    margin: 0 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 150px;
}
.basic> :nth-child(2){
    margin-left: 10px;
    color: rgb(95, 0, 129);
}

.frist{
    display: flex;
}
span{
    color: rgb(95, 0, 129);
}
/* 상품이미지 */
.title{
    display: inline-block;
    justify-content: center;

    width: 130px;
}
.itemImage2{
    display: inline-block;
}

li {
    list-style: none;
    }

img {
    width: 180px;
    height:180px;
}

.real-upload {
    display: none;
 }

.upload {
    width: 180px;
    height: 180px;
    background-color: antiquewhite;
 }

.image-preview {
    width: 100px;
    height: 180px;
    display: flex;
    gap: 20px;
    padding: 0 10px 0;
}
#ex{
    color:rgb(52, 152, 219);
    font-size: 13px;
    padding: 18px;
}
/* 제목 */
.basic2{
    display: flex;
    justify-content: left;
    border-bottom: 1px solid lightgray ;
    height: 90%;
}
.mid-header{
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(95, 0, 129);
    border-radius: 3px;
    padding-left: 12px ;
}
#search2{
    border: none;
    flex-basis: 100%;
}
#search2:focus{
    outline: none;
}
#button{
    padding-left:10px ;
    font-size: 20px;
    border: 0;
    background-color: white;
    color: #5f0081;
    padding-right:8px ;
}
#button:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* 카테고리 */
#category{
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow-x: hidden;
    border: 1px solid rgba(195, 194, 204, 0.781);
}
.select{
    width: 250px;
    height: 100%;
    padding: 6px 1.5rem;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 0px;
    font-size: 16px;
    display: flex;
    justify-content:left;
    padding: 5px;
    font-size: 100%;

}
.select:hover{
    height: 100%;
    background-size:length 200px ;
    background-color:rgba(195, 194, 204, 0.288);
}

.category1-1{
    padding: 0 !important;
    margin-left: 5px;
}