body * {
    box-sizing: border-box;
    font-weight: normal;
    /* color: rgb(30, 29, 41); */
    outline: 0px;
    font-size: 16px;
}

div{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}



/* 전체 영역, root 하위 */
.page-body{
    display: block;
    overflow: hidden;
}

.page-body-div{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 640px;
    height: 100vh;
    margin: 0px auto;
    box-sizing: border-box;
    
}

/* 거래내역 + 상단 구매,판매 + 하단 본문 div */
.page-purchase-body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

    height: 100vh;
    margin: 0px auto;
    box-sizing: border-box;
}

/* 거래내역 */
.pageHeader{
    /* display: block; */
    display: contents;
    flex-shrink: 0;
    flex-basis: 5rem;
    line-height: 5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(30, 29, 41);
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

/* 거래내역 h1 헤더 */
.pageHeader h1 {
    
    font-size: 1.125rem;
    font-weight: bold;
}

/* 거래내역 하위 부분 */
.purchases-body{
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;
    line-height: 1.5;
    overflow: scroll;
    width: auto;
}

header{
    display: block;
}

main {
    min-height: 100%;
}

nav{
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}



li {
    list-style: none;
}

/* ul 태그 */
.category{
    position: relative;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.category li{
    width: calc(50%);
    height: 2.875rem;
    border-bottom: 1px solid rgb(234, 233, 241);
}

.navigator li{
    text-align: center;
}

.category li.selected button {
    font-weight: bold;
    color: rgb(30, 29, 41);
}

.category li button{
    width: 100%;
    line-height: 2.875rem;
    font-size: 1.125rem;
}

.category li:first-child.selected ~ .line {
    transform: translateX(0px) scaleX(0.5);
}

.category li.line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: rgb(30, 29, 41);
    transform-origin: 0px 0px;
    transition: transform 0.25s ease 0s;
}

button {
    padding: 0px;
    background: none;
    border: none;
    outline: 0px;
    margin: 0px;
}

/* 상태 선택 버튼부 */
.purchases-box{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.purchases-category{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 1rem;
    height: 4rem;
    -webkit-box-align: center;
    align-items: center;
}

/* 버튼 */

/* 전체상태 버튼 */
.whole-status{
    padding: 0px 0.5rem;
    height: 1.5rem;
    border-radius: 12px;
    text-align: center;
    font-size: 13px;
    background: rgb(95, 0, 129);
    color: rgb(255, 255, 255);
}

.purchases-category button + button {
    margin-left: 10px;
}

/* 예약중,판매중,판매완료 버튼 */
.status{
    padding: 0px 0.5rem;
    height: 1.5rem;
    border-radius: 12px;
    background-color: rgb(244, 244, 250);
    text-align: center;
    font-size: 13px;
    color: rgb(155, 153, 169);
}

/* 구매 내역 영역 */
.purchases-contents{
    display: flex;
    flex-direction: column;
}

/* 구매 내역 출력부 */
.purchases-info{
    font-size: 1rem;
    text-align: center;
    margin-top: 3.125rem;
}

/* ----------------------------0718 */

/* 내역 출력 영역 */
.history{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: rgb(30, 29, 41);
    outline: 0px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

/* 카드 영역 */
.productSummaryCard{
    margin: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: rgb(30, 29, 41);
    outline: 0px;
    font-size: 16px;
    padding: 0px 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

/* 썸네일 div */
.productSummaryCard-thumbNail{
    margin: 0px;
    padding: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: rgb(30, 29, 41);
    outline: 0px;
    font-size: 16px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(234, 233, 241);
    border-radius: 2px;
}

/* 상품 썸네일 이미지 영역 */
.productSummaryCard-thumbNail img{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: rgb(30, 29, 41);
    outline: 0px;
    font-size: 16px;
    width: 6rem;
    height: 6rem;
}

/* 거래 완료 span 태그 스타일 */
.productSummaryCard-status{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    outline: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(30, 29, 41, 0.56);
    font-size: 0.875rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    white-space: pre;
    text-align: center;
}

/* 거래 완료 span 하위 체크박스 이미지 */
.productSummaryCard-status img{
    white-space: pre;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: rgb(30, 29, 41);
    outline: 0px;
    font-size: 16px;
    width: 20px;
    height: 20px;
    margin-bottom: 0.25rem;
}

.productSummaryCard-container{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: rgb(30, 29, 41);
    outline: 0px;
    font-size: 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.5rem;
    overflow: hidden;
}

.boardTitle{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    outline: 0px;
    font-size: 0.875rem;
    color: rgb(30, 29, 41);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.price{
    margin: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    outline: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 0px;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    color: rgb(30, 29, 41);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.memberNick{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    outline: 0px;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(94, 92, 107);
}

.productSummaryCard-updateDate{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: rgb(30, 29, 41);
    outline: 0px;
    font-size: 16px;
    line-height: 1rem;
}

.productSummaryCard-updateDate date{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    outline: 0px;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(94, 92, 107);
}

.buttonContainer{
    padding: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: rgb(30, 29, 41);
    outline: 0px;
    font-size: 16px;
    min-width: 320px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100vw;
    align-content: space-between;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 219, 228);
    border-radius: 2px;
    margin-top: 0.5rem;
}

.review-button{
    box-sizing: border-box;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    background: none;
    border: none;
    outline: 0px;
    padding: 0px;
    font-weight: bold;
    margin: 0px;
    position: relative;
    width: 100%;
    line-height: 3rem;
    font-size: 0.875rem;
    color: rgb(30, 29, 41);
    text-align: center;
}



/* --------- header 스타일 --------------- */

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'NanumSquareRound';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundEB.woff2) format('woff2');
    font-display: swap;
} */


* {font-family: "NanumSquareRound";}

/* header */
*{box-sizing: border-box;}
/* body{
  
    
} */

#top{
    top: 0;
    width: 1200px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    flex-basis: 100%;
    padding-right: 20px;
}
#top>a:hover{
    text-decoration-line: underline;
}
#top>*{
    text-decoration: none;
    color: gray;
    font-size: 14px;
    padding: 10px  10px  0 0;
}

/* 상단 메뉴 + 검색 바 */
#header{
    position: fixed;
    top: 0 ;
    width: 1200px;
    height:  100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 50px 0 50px ; */
    /* margin-top: 15px; */
    z-index: 2;
}
section>#menu{
    display: flex;
    justify-content: left;
}
section>.right-header{
    display: flex;
    justify-content: right;
}
.button{
    padding-left:10px ;
    font-size: 16px;
    border: 0;
    background-color: white;
    color: #5f0081;
}
.button:hover{
    text-decoration: underline;
    cursor: pointer;
}


section>button>.fa-solid{
    padding-right: 5px;
}


#header>section{
    flex-basis: 33.3%;
}

#home-logo{
    height: 90px;
    width: 230px;
    /* margin-right: 20px; */
}
.fa-bars{
    color: #5f0081;
    text-decoration: none;
    font-size: 30px;
}
#menu{
    display: flex;
    align-items: center;
}

#search2{
    border: none;
    flex-basis: 100%;
    font-size: 18px;
}
#search2:focus{
    outline: none;
}
.mid-header{
    width: 450px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(95, 0, 129);
    border-radius: 3px;
    padding-left: 12px ;
}

.right-header{
   display: flex;
   justify-content: right;
   align-items: flex-end;
   margin: 5px 5px 5px;
   
}
.right-header{
    border: 0;
    outline: 0;
    background-color: white;
    color: rgb(95, 0, 129);
    font-size:25px;
    margin-right: 20px;
}



/* 카테고리  */
/* 카테고리  */
/* 카테고리  */

#category-area{
    position: fixed;
    top: 95px;
    width: 500px;
    height: 700px;
    display: none; 
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    /* display: flex;
    flex-direction: row; */



}

#category-area > ul{

    width: 50%;

}

#category-area > ul:first-child{

    border-right: 1px solid #ccc;

}



#item-category{
    display: flex;
    flex-direction: column;
    padding-left: 1px;
}


#item-category > li{
    list-style: none;
    padding: 10px 0 10px 30px;
    margin-bottom: 1px;
    
}

#item-category > li:first-child{

    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 0px !important; 
}


#item-category > li:hover{
    background-color: rgb(95, 0, 129);
    color: #fff;
    cursor: pointer;
    
}

/* 카테고리 중분류 */
#div-category{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

#div-category > li{
    list-style: none;
    margin: 10px 0 10px 0;

}

