<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	
	<resultMap type="admin" id="admin_rm">
		<id property="boardNo" column="ADMIN_BOARD_NO"/>
		
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="readCount" column="READ_COUNT"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="updateDate" column="UPDATE_DT"/>
		<result property="boardCode" column="BOARD_CD"/>	
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="classification" column="CLASSIFICSATION"/>
	</resultMap>
	
	<resultMap type="adminReply" id="adminReply_rm">
		<id property="replyNo" column="REPLY_NO"/>
		
		<result property="boardNo" column="ADMIN_BOARD_NO"/>
		<result property="replyContent" column="REPLY_CONTENT"/>
		<result property="createDate" column="CREATE_DT"/>
	</resultMap>
	
	
	<resultMap type="report" id="report_rm">
		<id property="reportNo" column="REPORT_NO"/>
		
		<result property="reportContent" column="REPORT_CONTENT"/>
		<result property="reportCode" column="REPORT_CD"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="reportDate" column="REPORT_DT"/>
	</resultMap>
	
	<resultMap type="reportType" id="reportType_rm">
		<id property="reportCode" column="REPORT_CD"/>
		
		<result property="reportName" column="REPORT_NM"/>
	</resultMap>
	
	
	
	<resultMap type="member" id="member_rm">
	
		<id property="memberNo" 			column="MEMBER_NO"/>
		<result property="memberId" 		column="MEMBER_ID"/>
		<result property="memberPw" 		column="MEMBER_PW"/>
		<result property="memberNickname" 	column="MEMBER_NICK"/>
		<result property="memberTel" 		column="MEMBER_TEL"/>
		<result property="secessionFlag" 	column="SECESSION_FL"/>
		<result property="memberProfile" 	column="MEMBER_PROFILE"/>
		<result property="memberGrape" 		column="MEMBER_GRAPE"/>
		<result property="memberAddress" 	column="MEMBER_ADDR"/>
		<result property="memberTown" 		column="MEMBER_TOWN"/>
		<result property="createDate" 		column="CREATE_DT"/>
	
	</resultMap>

	<resultMap type="boardType" id="boardType_rm">
		<id property="boardCode" column="BOARD_CD"/>
		
		<result property="boardName" column="BOARD_NM"/>
	</resultMap>


	<resultMap type="itemBoard" id="itemBoard_rm">

		<id property="boardNo" column="BOARD_NO" />

		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="readCount" column="READ_COUNT" />
		<result property="createDate" column="CREATE_DT" />
		<result property="updateDate" column="UPDATE_DT" />
		<result property="itemCondition" column="ITEM_CONDITION" />
		<result property="tradeCondition" column="TRADE_CONDITION" />

		<result property="delivery" column="DELIVERY" />

		<result property="price" column="PRICE" />
		<result property="secessionFlag" column="SECESSION_FL" />
		<result property="sellArea" column="SELL_AREA" />
		<result property="boardCode" column="BOARD_CD" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="categoryNo" column="M_CATEGORY_NO" />
		<result property="buyMemberNo" column="BUY_MEMBER_NO" />
		<result property="bookmarkCount" column="BOOKMARK_COUNT" />
		
		<collection property="imageList" column="BOARD_NO" javaType="java.util.ArrayList" ofType="boardImage" select="selectImageList"/> 

	</resultMap>
	
	<resultMap type="boardImage" id="boardImage_rm">
		<id property="imageNo" column="IMG_NO"/>
		<result property="imageReName" column="IMG_RENAME"/>
		<result property="imageOriginal" column="IMG_ORIGINAL"/>
		<result property="imageLevel" column="IMG_LEVEL"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>
	
	<select id="selectImageList" resultMap="boardImage_rm">
		SELECT * FROM BOARD_IMG
		WHERE BOARD_NO = #{boardNO}
		ORDER BY IMG_LEVEL
	</select>


	<select id="inquiryListCount" resultType="_int">
		SELECT COUNT(*) FROM ADMIN_BOARD
		WHERE BOARD_CD = 3 
	</select>
	
	<select id="itemListCount" resultType="_int">
		SELECT COUNT(*) FROM ITEM_BOARD
	</select>
	
	<select id="memberListCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<!-- 신고 게시판 숫자 계산 -->
	<select id="reportListCount" resultType="_int">
		SELECT COUNT(*) FROM REPORT
	</select>
	
	<select id="FAQListCount" resultType="_int">
		SELECT COUNT(*) FROM ADMIN_BOARD
		WHERE BOARD_CD = 7
	</select>
	
	
	<!-- 1:1문의 목록 조회-->
	<select id="selectInquiryList" resultMap="admin_rm">
		SELECT ADMIN_BOARD_NO, BOARD_TITLE, BOARD_CONTENT, READ_COUNT, MEMBER_NICK, CLASSIFICATION,
          A.CREATE_DT 
		FROM ADMIN_BOARD A
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = #{boardCode}
		ORDER BY ADMIN_BOARD_NO DESC 
	</select>
	
	<!-- 신고 목록 조회 -->
	<select id="selectReportList" resultMap="report_rm">
		SELECT REPORT_NO,  REPORT_NM, REPORT_CONTENT, MEMBER_NICK, REPORT_DT,
		
          CASE WHEN SYSDATE - REPORT_DT &lt; 1
                 THEN TO_CHAR(REPORT_DT, 'HH:MI')
                 ELSE TO_CHAR(REPORT_DT, 'YYYY-MM-DD')
             END REPORT_DT
		FROM REPORT
		JOIN MEMBER USING(MEMBER_NO)
		JOIN REPORT_TYPE USING(REPORT_CD)
		ORDER BY REPORT_NO DESC 
	</select>
	
	<!-- 아이템 목록 조회 -->
	<select id="selectItemList" resultMap="itemBoard_rm">
		SELECT BOARD_NO, M_CATEGORY_NM, BOARD_TITLE, PRICE, SELL_AREA, BOOKMARK_COUNT,
          CREATE_DT
             , ITEM_CONDITION, TRADE_CONDITION
             
		FROM ITEM_BOARD
		JOIN M_CATEGORY USING(M_CATEGORY_NO)
		ORDER BY BOARD_NO DESC 
	</select>
	
	<!-- 멤버 목록 조회 -->
	<select id="selectMemberList" resultMap="member_rm">
		SELECT MEMBER_ID, MEMBER_NO, MEMBER_NICK, MEMBER_TEL, MEMBER_ADDR, 
		CREATE_DT, MEMBER_GRAPE, SECESSION_FL
		FROM MEMBER
		ORDER BY MEMBER_NO 
	</select>
	
	
	<!--1대1 문의 검색 게시글 목록 카운트 -->
	<select id="searchAdminListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM ADMIN_BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = #{boardCode}
		
		<!-- 검색어가 있을 경우 -->
		<if test='query !=null and query != ""'>
		
			AND
			<choose>
				<when test='key == "1"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '운영정책'
				</when>
				
				<when test='key == "2"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '계정/인증'
				</when>
				
				<when test='key == "3"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '구매/판매'
				</when>
				
				<when test='key == "4"'>
					MEMBER_NICK LIKE '%${query}%'
					AND CLASSIFICATION = '본인인증'
				</when>
				
			</choose>
		</if>
	</select>
	
	
	
	<!-- 신고 전체 게시글 카운트 -->
	<select id="searchReportListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM ADMIN_BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = #{boardCode}
		
		<!-- 검색어가 있을 경우 -->
		<if test='query !=null and query != ""'>
		
			AND
			<choose>
				<when test='key == "1"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '신고사유'
				</when>
				
				<when test='key == "2"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '광고'
				</when>
				
				<when test='key == "3"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '상품 정보 부정확'
				</when>
				
				<when test='key == "4"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '거래 금지 품목'
				</when>
				<when test='key == "5"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '허위 매물'
				</when>
				<when test='key == "6"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '사기 의심'
				</when>
				<when test='key == "7"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '기타'
				</when>
			</choose>
		</if>
	
	</select>
	
	
	<!-- 판매 게시글 수 카운트 -->
	<select id="searchItemListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM ITEM_BOARD
		JOIN MEMBER USING(MEMBER_NO)
		
		<!-- 검색어가 있을 경우 -->
		<if test='query !=null and query != ""'>
		
			WHERE
			<choose>
				<when test='key == "s"'>
					BOARD_TITLE LIKE '%${query}%'
					AND TRADE_CONDITION = '판매 중'
				</when>
				
				<when test='key == "r"'>
					BOARD_TITLE LIKE '%${query}%'
					AND TRADE_CONDITION = '예약 중'
				</when>
				
				<when test='key == "e"'>
					BOARD_TITLE LIKE '%${query}%'
					AND TRADE_CONDITION = '판매완료' 
				</when>
			</choose>
		</if>
	
	</select>
	
	
	<!-- 유저 수 카운트 -->
	<select id="searchMemberListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM MEMBER
		
		<!-- 검색어가 있을 경우 -->
		<if test='query !=null and query != ""'>
		
			WHERE
			<choose>
				<when test='key == "n"'>
					MEMBER_ID LIKE '%${query}%'
					AND SECESSION_FL = 'N'
				</when>
				
				<when test='key == "y"'>
					MEMBER_ID LIKE '%${query}%'
					AND SECESSION_FL = 'Y'
				</when>
				
			</choose>
		</if>
	
	</select>
	
	<!-- 1:1문의 목록 조회, 신고관리 검색-->
	<select id="searchInquiryList" resultMap="admin_rm">
		SELECT ADMIN_BOARD_NO, BOARD_TITLE, BOARD_CONTENT, READ_COUNT, MEMBER_NICK, CLASSIFICATION,
          CREATE_DT 
		FROM ADMIN_BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = #{boardCode}
		
		<!-- 검색어가 있을 경우 -->
		<if test='query !=null and query != ""'>
		
			AND
					
			<choose>
				<when test='key == "1"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '운영정책'
				</when>
				
				<when test='key == "2"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '계정/인증'
				</when>
				
				<when test='key == "3"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '구매/판매'
				</when>
				
				<when test='key == "4"'>
					MEMBER_NICK LIKE '%${query}%'
					AND CLASSIFICATION = '본인인증'
				</when>
			</choose>
		</if>
		
		ORDER BY ADMIN_BOARD_NO DESC 
	</select>
	
	
	<!--신고 관리-->
	<select id="searchReportList" resultMap="admin_rm">
		SELECT ADMIN_BOARD_NO, BOARD_TITLE, BOARD_CONTENT, READ_COUNT, MEMBER_NICK, CLASSIFICATION,
         CREATE_DT 
		FROM ADMIN_BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = #{boardCode}
		
		<!-- 검색어가 있을 경우 -->
		<if test='query !=null and query != ""'>
		
			AND
					
			<choose>
				<when test='key == "1"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '신고사유'
				</when>
				
				<when test='key == "2"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '광고'
				</when>
				
				<when test='key == "3"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '상품 정보 부정확'
				</when>
				
				<when test='key == "4"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '거래 금지 품목'
				</when>
				<when test='key == "5"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '허위 매물'
				</when>
				<when test='key == "6"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '사기 의심'
				</when>
				<when test='key == "7"'>
					BOARD_TITLE LIKE '%${query}%'
					AND CLASSIFICATION = '기타'
				</when>
			</choose>
		</if>
		
		ORDER BY ADMIN_BOARD_NO DESC 
	</select>
	
	
	<!-- 아이템 목록 조회 검색-->
	<select id="searchItemList" resultMap="itemBoard_rm">
		SELECT BOARD_NO, M_CATEGORY_NM, BOARD_TITLE, PRICE, SELL_AREA, BOOKMARK_COUNT,
          CREATE_DT
             , ITEM_CONDITION, TRADE_CONDITION
             
		FROM ITEM_BOARD
		JOIN M_CATEGORY USING(M_CATEGORY_NO)
		
		<!-- 검색어가 있을 경우 -->
		<if test='query !=null'>
		
			WHERE
					
			<choose>
				<when test='key == "s"'>
					BOARD_TITLE LIKE '%${query}%'
					AND TRADE_CONDITION = '판매 중'
				</when>
				
				<when test='key == "r"'>
					BOARD_TITLE LIKE '%${query}%'
					AND TRADE_CONDITION = '예약 중'
				</when>
				
				<when test='key == "e"'>
					BOARD_TITLE LIKE '%${query}%'
					AND TRADE_CONDITION = '판매완료' 
				</when>
				
			</choose>
		</if>
		
		ORDER BY BOARD_NO DESC 
	</select>
	
	<!-- 멤버 목록 조회 검색 -->
	<select id="searchMemberList" resultMap="member_rm">
		SELECT MEMBER_ID, MEMBER_NO, MEMBER_NICK, MEMBER_TEL, MEMBER_ADDR, 
		CREATE_DT, MEMBER_GRAPE, SECESSION_FL
		FROM MEMBER
		<!-- 검색어가 있을 경우 -->
		<if test='query !=null and query != ""'>
		
			
			WHERE
			<choose>
				<when test='key == "n"'>
					MEMBER_ID LIKE '%${query}%'
					AND SECESSION_FL = 'N'
				</when>
				
				<when test='key == "y"'>
					MEMBER_ID LIKE '%${query}%'
					AND SECESSION_FL = 'Y'
				</when>
				
			</choose>
		</if>
		
		ORDER BY MEMBER_NO 
	</select>
	
	
	<insert id="insertBoard"  useGeneratedKeys="true"> 
	
		<selectKey keyProperty="boardNo" resultType="_int" order="BEFORE">
			SELECT SEQ_ADMIN_BOARD_NO.NEXTVAL FROM DUAL
		
		</selectKey>
	
		INSERT INTO ADMIN_BOARD VALUES(
			#{boardNo}, #{boardTitle}, #{boardContent},
			DEFAULT, DEFAULT, DEFAULT, #{boardCode}, #{memberNo}, #{classification}
		)
	
	</insert>
	
	<!--관리자 게시글 사진 삭제 -->
	<delete id="adminImgDelete">
		DELETE FROM ADMIN_BOARD_IMG
		WHERE ADMIN_BOARD_NO IN (${deleteNo})
	</delete>
	
	<!--관리자 게시글 사진 삭제 -->
	<delete id="adminDelete">
		DELETE FROM ADMIN_BOARD
		WHERE ADMIN_BOARD_NO IN (${deleteNo})
	</delete>
	

	<!--관리자 회원 탈퇴/재가입 -->
	<update id="memberSecession">
		UPDATE MEMBER SET
		SECESSION_FL = 'Y'
		WHERE MEMBER_NO IN (${deleteNo})
	</update>
	
	
	<!-- 분류별 faq 게시글 불러오기 -->
	<select id="faqList" resultMap="admin_rm">
		SELECT ADMIN_BOARD_NO, BOARD_TITLE, BOARD_CONTENT, CLASSIFICATION, CREATE_DT       
		FROM ADMIN_BOARD
		WHERE BOARD_CD = 7
		AND CLASSIFICATION = #{classification}
		ORDER BY ADMIN_BOARD_NO DESC 
	</select>
	
	
	

</mapper>