<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alarmMapper">
  
  <resultMap type="alarm" id="alarm_rm">
		<id property="alarmNo" column="ALARM_NO"/>
		
		<result property="alarmContent" column="ALARM_CONTENT"/>
		<result property="alarmTime" column="ALARM_TIME"/>
		<result property="memberNo" column="MEMBER_NO"/>
		
		<result property="recieveMemberId" column="RMEMBER_ID"/>
		<result property="boardName" column="BOARD_NM"/>
	</resultMap>
  
  <!-- Alaram 삽입 dao -->
  <insert id="insertMessage" parameterType="alarm" useGeneratedKeys="true">
  
  	<selectKey keyProperty="alarmNo" resultType="_int" order="BEFORE">
			SELECT SEQ_ALARM_NO.NEXTVAL FROM DUAL
	</selectKey>
  
  	INSERT INTO ALARM VALUES(
  		#{alarmNo}, #{alarmContent}, SYSDATE, #{memberNo}, null, #{boardName}, #{recieveMemberId}
  	)
  </insert>
  
  <!-- receiver 의 memberNo를 사용해서 receiver의 memberId 를 조회 -->
  <select id="selectMemberId" resultType="string">
	   SELECT MEMBER_ID
	   FROM MEMBER
	   WHERE MEMBER_NO = #{recieverMemberNo}
  </select>
  
  <!-- 본인 제외 해당 채팅방에 있는 회원 조회 -->
  <select id="selectRecieverId" resultType="string">
	   SELECT MEMBER_ID
	   FROM MEMBER
	   JOIN CHAT_ROOM_JOIN USING(MEMBER_NO)
	   WHERE CHAT_NO = #{chatNo} 
	   AND MEMBER_NO != #{writerNo}
  </select>
  
  
  <!-- 해당 판매글을 찜한 사용자에게 끌올 시 알림 -->
  <select id="selectBuyerId" resultType="string">
	   SELECT MEMBER_ID
	   FROM MEMBER
	   JOIN BOOKMARK USING(MEMBER_NO)
	   WHERE BOARD_NO = #{boardNo}
  </select>
  
   <!-- 알림 리스트 조회 -->
  <select id="alarmListSelect" resultMap="alarm_rm">
	   SELECT ALARM_CONTENT, RMEMBER_ID, BOARD_NM,
	    CASE WHEN SYSDATE - ALARM_TIME &lt; 1
                 THEN TO_CHAR(ALARM_TIME, 'HH:MI')
                 ELSE TO_CHAR(ALARM_TIME, 'YYYY-MM-DD')
             END ALARM_TIME
	   FROM ALARM
	   WHERE RMEMBER_ID = #{memberId}
	   AND ROWNUM &lt; 8
       ORDER BY ALARM_NO DESC
  </select>
  
  
  
</mapper>
