<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

	<resultMap type="chatRoom" id="chatRoom_rm">

		<id property="chatNo" column="CHAT_NO" />
		
		<result property="boardNo" column="BOARD_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="buyMemberNo" column="BUY_MEMBER_NO" />
		<result property="chat" column="CHAT_STATUS" />
		<result property="memberNickname" column="MEMBER_NICK" />
		
	</resultMap>
	
	<resultMap type="chatMessage" id="chatMessage_rm">

		<id property="messageNo" column="MESSAGE_NO" />
		
		<result property="messageContent" column="MESSAGE_CONTENT" />
		<result property="messageTime" column="MESSAGE_TIME" />
		<result property="chatNo" column="CHAT_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNickname" column="MEMBER_NICK" />

	</resultMap>
	
	<resultMap type="chatList" id="chatList_rm">

		<id property="chatNo" column="CHAT_NO" />
		
		<result property="boardNo" column="BOARD_NO" />
		<result property="chatStatus" column="CHAT_STATUS" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNickname" column="MEMBER_NICK" />
		<result property="memberProfile" column="MEMBER_PROFILE" />
		<result property="messageContent" column="MESSAGE_CONTENT" />
		<result property="messageTime" column="MESSAGE_TIME" />

	</resultMap>
	
	<!-- 이 위로 resultMap 작성부 -->
	
	<!-- 내가 참여중인 채팅방 번호 조회 -->
	<select id="selectChatRoomList" resultMap="chatList_rm">
		SELECT MEMBER_NO, CHAT_NO, MEMBER_NICK, MEMBER_PROFILE,
	        (SELECT MESSAGE_CONTENT FROM MESSAGE WHERE MESSAGE_NO = FN_LAST_MESSAGE_NO(CHAT_ROOM_JOIN.CHAT_NO)) MESSAGE_CONTENT,
	        (SELECT MESSAGE_TIME FROM MESSAGE WHERE MESSAGE_NO = FN_LAST_MESSAGE_NO(CHAT_ROOM_JOIN.CHAT_NO)) MESSAGE_TIME
		FROM CHAT_ROOM_JOIN
		JOIN MEMBER USING(MEMBER_NO)
		WHERE CHAT_NO IN (SELECT CHAT_NO FROM CHAT_ROOM_JOIN WHERE MEMBER_NO = ${memberNo})
		AND MEMBER_NO != ${memberNo}
	</select>
	
	


</mapper>
