<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

	<resultMap type="chatRoom" id="chatRoom_rm">

		<id property="chatNo" column="CHAT_NO" />
		
		<result property="boardNo" column="BOARD_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="buyMemberNo" column="BUY_MEMBER_NO" />
		<result property="chat" column="CHAT_STATUS" />
		<result property="memberNickname" column="MEMBER_NICK" />
		
	</resultMap>
	
	<resultMap type="chatMessage" id="chatMessage_rm">

		<id property="messageNo" column="MESSAGE_NO" />
		
		<result property="messageContent" column="MESSAGE_CONTENT" />
		<result property="messageTime" column="MESSAGE_TIME" />
		<result property="chatNo" column="CHAT_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNickname" column="MEMBER_NICK" />

	</resultMap>
	
	<resultMap type="chatList" id="chatList_rm">

		<id property="chatNo" column="CHAT_NO" />
		
		<result property="boardNo" column="BOARD_NO" />
		<result property="chatStatus" column="CHAT_STATUS" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNickname" column="MEMBER_NICK" />
		<result property="memberProfile" column="MEMBER_PROFILE" />
		<result property="messageContent" column="MESSAGE_CONTENT" />
		<result property="messageTime" column="MESSAGE_TIME" />
		<result property="messageNo" column="MESSAGE_NO" />

	</resultMap>
	
	<!-- 이 위로 resultMap 작성부 -->
	
	<!-- 내가 참여중인 채팅방 번호 조회 -->
	<select id="selectChatRoomList" resultMap="chatList_rm">
		SELECT MEMBER_NO, CHAT_NO, MEMBER_NICK, MEMBER_PROFILE,
	        (SELECT MESSAGE_CONTENT FROM MESSAGE WHERE MESSAGE_NO = FN_LAST_MESSAGE_NO(CHAT_ROOM_JOIN.CHAT_NO)) MESSAGE_CONTENT,
	        (SELECT MESSAGE_TIME FROM MESSAGE WHERE MESSAGE_NO = FN_LAST_MESSAGE_NO(CHAT_ROOM_JOIN.CHAT_NO)) MESSAGE_TIME
		FROM CHAT_ROOM_JOIN
		JOIN MEMBER USING(MEMBER_NO)
		WHERE CHAT_NO IN (SELECT CHAT_NO FROM CHAT_ROOM_JOIN WHERE MEMBER_NO = ${memberNo})
		AND MEMBER_NO != ${memberNo}
	</select>
	
	<!-- 상대방 채팅 정보 조회 -->
	<select id="selectOtherDetail" resultMap="chatList_rm">
		SELECT A.MEMBER_NICK, A.MEMBER_PROFILE, A.MEMBER_NO, B.MESSAGE_CONTENT, B.MESSAGE_TIME, B.MESSAGE_NO
		FROM CHAT_ROOM_JOIN C
		
		JOIN MEMBER A ON(A.MEMBER_NO = C.MEMBER_NO)
		JOIN MESSAGE B ON(B.CHAT_NO = C.CHAT_NO)
		
		WHERE B.CHAT_NO = ${chatNo}
		AND B.MEMBER_NO != ${memberNo}
		AND A.MEMBER_NO != ${memberNo}
	</select>
	
	<!-- 내 채팅 정보 조회 (대화 내용 / 시간만) -->
	<select id="selectMyDetail" resultMap="chatList_rm">
		SELECT MESSAGE_CONTENT, MESSAGE_TIME, MESSAGE_NO, MEMBER_NO
		FROM CHAT_ROOM_JOIN B
		
		JOIN MESSAGE A USING(MEMBER_NO)
		
		WHERE A.CHAT_NO = ${chatNo}
		AND B.CHAT_NO = ${chatNo}
		AND MEMBER_NO = ${memberNo}
	</select>
	
	<!-- 채팅방이 이미 존재하는지 조회 -->
	<select id="selectChatRoom" resultType="_int">
		SELECT NVL(
			(SELECT CHAT_NO FROM CHAT_ROOM
			WHERE BOARD_NO = ${boardNo}
			AND MEMBER_NO = ${memberNo}
			AND BUY_MEMBER_NO = ${myMemberNo}) , 0 ) CHAT_NO
		FROM DUAL
	</select>
	
	<!-- 채팅방 만들기 -->
	<insert id="createChat" useGeneratedKeys="true">
		<selectKey keyProperty="chatNo" order="BEFORE" resultType="_int">
			SELECT SEQ_CHAT_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO CHAT_ROOM VALUES(${chatNo}, ${boardNo}, ${memberNo}, ${myMemberNo}, DEFAULT)
	</insert>
	
	<insert id="joinChat">
		INSERT ALL 
			INTO CHAT_ROOM_JOIN VALUES(${memberNo}, ${chatNo})
			INTO CHAT_ROOM_JOIN VALUES(${myMemberNo}, ${chatNo})
		SELECT *
		FROM DUAL
	</insert>
	
	


</mapper>
