<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

	<resultMap type="chatRoom" id="chatRoom_rm">

		<id property="chatNo" column="CHAT_NO" />
		
		<result property="boardNo" column="BOARD_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="buyMemberNo" column="BUY_MEMBER_NO" />
		<result property="chat" column="CHAT_STATUS" />
		<result property="memberNickname" column="MEMBER_NICK" />
		
	</resultMap>
	
	<resultMap type="chatMessage" id="chatMessage_rm">

		<id property="messageNo" column="MESSAGE_NO" />
		
		<result property="messageContent" column="MESSAGE_CONTENT" />
		<result property="messageTime" column="MESSAGE_TIME" />
		<result property="chatNo" column="CHAT_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNickname" column="MEMBER_NICK" />

	</resultMap>
	
	<resultMap type="chatList" id="chatList_rm">

		<id property="chatNo" column="CHAT_NO" />
		
		<result property="boardNo" column="BOARD_NO" />
		<result property="chatStatus" column="CHAT_STATUS" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNickname" column="MEMBER_NICK" />
		<result property="memberProfile" column="MEMBER_PROFILE" />
		<result property="messageContent" column="MESSAGE_CONTENT" />
		<result property="messageTime" column="MESSAGE_TIME" />
		<result property="messageNo" column="MESSAGE_NO" />

	</resultMap>
	
	<!-- 이 위로 resultMap 작성부 -->
	
	<!-- 내가 참여중인 채팅방 번호 조회 -->
	<select id="selectChatRoomList" resultMap="chatList_rm">
		SELECT A.MEMBER_NO, A.CHAT_NO, MEMBER_NICK, MEMBER_PROFILE,
	        (SELECT MESSAGE_CONTENT FROM MESSAGE WHERE MESSAGE_NO = FN_LAST_MESSAGE_NO1(A.CHAT_NO)) MESSAGE_CONTENT,
	        (SELECT MESSAGE_TIME FROM MESSAGE WHERE MESSAGE_NO = FN_LAST_MESSAGE_NO1(A.CHAT_NO)) MESSAGE_TIME
		FROM CHAT_ROOM_JOIN A
		JOIN MEMBER C ON(A.MEMBER_NO = C.MEMBER_NO)
		JOIN CHAT_ROOM B ON(A.CHAT_NO = B.CHAT_NO)
		WHERE B.CHAT_NO IN (SELECT CHAT_NO FROM CHAT_ROOM_JOIN WHERE MEMBER_NO = ${memberNo})
		AND A.MEMBER_NO != ${memberNo}
		AND CHAT_STATUS = 'N'
		ORDER BY MESSAGE_TIME
	</select>
	
	<!-- 채팅 정보 조회 -->
	<select id="selectOtherDetail" resultMap="chatList_rm">
		SELECT A.MEMBER_NICK, A.MEMBER_PROFILE, A.MEMBER_NO, B.MESSAGE_CONTENT, B.MESSAGE_TIME, B.MESSAGE_NO
		FROM CHAT_ROOM_JOIN C
		
		JOIN MEMBER A ON(A.MEMBER_NO = C.MEMBER_NO)
		JOIN MESSAGE B ON(B.CHAT_NO = C.CHAT_NO)
		
		WHERE B.CHAT_NO = ${chatNo}
	</select>
	
    <select id="selectChatRoom" resultType="_int">
		SELECT NVL(
			(SELECT CHAT_NO FROM CHAT_ROOM
			 WHERE BOARD_NO = ${boardNo}
			 AND MEMBER_NO = ${memberNo}
			 AND BUY_MEMBER_NO = ${myMemberNo}), 0) CHAT_NO
		FROM DUAL
	</select>
	
	<!-- 삭제되어 있는 방인지 확인 -->
	<select id="checkDel" resultType="_int">
		SELECT COUNT(*) FROM CHAT_ROOM
		WHERE CHAT_NO = ${chatNo}
		AND CHAT_STATUS = 'Y'
	</select>
	
	<!-- 채팅방이 삭제되었다면 다시 생성 -->
	<update id="updateStatus">
		UPDATE CHAT_ROOM SET
		CHAT_STATUS = 'N'
		WHERE CHAT_NO = ${chatNo}
	</update>
	
	<!-- 채팅방 만들기 -->
	<insert id="createChat" useGeneratedKeys="true">
		<selectKey keyProperty="chatNo" order="BEFORE" resultType="_int">
			SELECT SEQ_CHAT_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO CHAT_ROOM VALUES(${chatNo}, ${boardNo}, ${memberNo}, ${myMemberNo}, DEFAULT)
	</insert>
	
	<!-- 채팅방 참여 -->
	<insert id="joinChat">
		INSERT ALL 
			INTO CHAT_ROOM_JOIN VALUES(${memberNo}, ${chatNo})
			INTO CHAT_ROOM_JOIN VALUES(${myMemberNo}, ${chatNo})
		SELECT *
		FROM DUAL
	</insert>
	
	<!-- 채팅 메세지 삽입 -->
	<insert id="insertMessage">
		INSERT INTO MESSAGE VALUES(SEQ_MESSAGE_NO.NEXTVAL, #{messageContent}, SYSDATE, ${chatNo}, ${memberNo})
	</insert>
	
	<!-- 채팅방 삭제(나가기) -->
	<update id="deleteChat">
		UPDATE CHAT_ROOM SET
		CHAT_STATUS = 'Y'
		WHERE CHAT_NO = ${chatNo}
	</update>
	
	<!-- 채팅방 내 판매글 정보를 위한 보드 넘버 얻어오기 -->
	<select id="selectBN" resultType="_int">
		SELECT BOARD_NO FROM CHAT_ROOM
		WHERE CHAT_NO = ${chatNo}
	</select>
	
	<!-- 판매자가 누군지 조회 DAO -->
	<select id="selectWhoIsSeller" resultType="_int">
		SELECT MEMBER_NO FROM ITEM_BOARD
		WHERE BOARD_NO = ${boardNo}
	</select>
	
	<!-- 후기 작성 -->
	<insert id="writeReview">
		<choose>
			<when test="sellMemNo == memberNo">
				INSERT INTO REVIEW VALUES(SEQ_REVIEW_NO.NEXTVAL, #{reportContent}, '좋음', DEFAULT,
					${memberNo}, ${boardNo}, DEFAULT, ${otherMemNo}
				)
			</when>
			<otherwise>
				INSERT INTO REVIEW VALUES(SEQ_REVIEW_NO.NEXTVAL, #{reportContent}, '좋음', DEFAULT,
					${otherMemNo}, ${boardNo}, DEFAULT, ${memberNo}
				)
			</otherwise>
		</choose>
	</insert>


</mapper>
