<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="itemBoardMapper">

	<resultMap type="member" id="member_rm">
	
		<id property="memberNo" 			column="MEMBER_NO"/>
		<result property="memberId" 		column="MEMBER_ID"/>
		<result property="memberPw" 		column="MEMBER_PW"/>
		<result property="memberNickname" 	column="MEMBER_NICK"/>
		<result property="memberTel" 		column="MEMBER_TEL"/>
		<result property="secessionFlag" 	column="SECESSION_FL"/>
		<result property="memberProfile" 	column="MEMBER_PROFILE"/>
		<result property="memberGrape" 		column="MEMBER_GRAPE"/>
		<result property="memberAddress" 	column="MEMBER_ADDR"/>
		<result property="memberTown" 		column="MEMBER_TOWN"/>
		<result property="createDate" 		column="CREATE_DT"/>
		<result property="admin"  			column="ADMIN" />
		<result property="shopInfo"  		column="SHOP_INFO" />
	
	</resultMap>

	<resultMap type="boardType" id="boardType_rm">
		<id property="boardCode" column="BOARD_CD"/>
		
		<result property="boardName" column="BOARD_NM"/>
	</resultMap>

	<resultMap type="itemBoard" id="itemBoard_rm">

		<id property="boardNo" column="BOARD_NO" />

		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="readCount" column="READ_COUNT" />
		<result property="createDate" column="CREATE_DT" />
		<result property="updateDate" column="UPDATE_DT" />
		<result property="itemCondition" column="ITEM_CONDITION" />
		<result property="tradeCondition" column="TRADE_CONDITION" />

		<result property="delivery" column="DELIVERY" />

		<result property="price" column="PRICE" />
		<result property="secessionFlag" column="SECESSION_FL" />
		<result property="sellArea" column="SELL_AREA" />
		<result property="boardCode" column="BOARD_CD" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="buyMemberNo" column="BUY_MEMBER_NO" />
		<result property="bookmarkCount" column="BOOKMARK_COUNT" />
		<result property="mCategoryName" column="M_CATEGORY_NM" />
		<result property="lCategoryName" column="L_CATEGORY_NM" />
		
		
	</resultMap>
	
	<resultMap type="boardImage" id="boardImage_rm">
		<id property="imageNo" column="IMG_NO"/>
		<result property="imageReName" column="IMG_RENAME"/>
		<result property="imageOriginal" column="IMG_ORIGINAL"/>
		<result property="imageLevel" column="IMG_LEVEL"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>
	
	<select id="selectBoardImageList" resultMap="boardImage_rm">
		SELECT * FROM BOARD_IMG
		WHERE BOARD_NO = #{boardNo}
		ORDER BY IMG_LEVEL
	</select>
	
	<!-- 판매글 상세조회 -->
	<select id="selectItem" resultMap="itemBoard_rm">
		SELECT BOARD_TITLE, BOARD_CONTENT, READ_COUNT, BOOKMARK_COUNT, UPDATE_DT, SELL_AREA, ITEM_CONDITION, TRADE_CONDITION
			, PRICE, M_CATEGORY_NM, L_CATEGORY_NM, CATEGORY_NO, MEMBER_NO
		FROM ITEM_BOARD
		JOIN BOARD_IMG USING(BOARD_NO)
		JOIN M_CATEGORY USING(M_CATEGORY_NO)
		JOIN L_CATEGORY USING(CATEGORY_NO)
		WHERE BOARD_NO = ${boardNo}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateReadCount">
		UPDATE ITEM_BOARD SET 
		READ_COUNT = READ_COUNT + 1
		WHERE BOARD_NO = ${boardNo}
	</update>
	
	<insert id="insertBoard" parameterType="itemBoard" useGeneratedKeys="true"> 
	
		<selectKey keyProperty="boardNo" resultType="_int" order="BEFORE">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO ITEM_BOARD VALUES(
			#{boardNo}, #{boardTitle}, #{boardContent},
			DEFAULT, DEFAULT, DEFAULT, #{itemCondition}, '판매 중', #{delivery}, #{price}, DEFAULT, #{sellArea}, 
			1, #{memberNo}, #{categoryNo}, NULL, 0 

		)
	</insert>
	
	<insert id="insertCoordinate" parameterType="coordinate"> 
		INSERT INTO SELLAREA_XY VALUES(
			SEQ_CRDNT_NO.NEXTVAL, #{boardNo}, #{dLon}, #{dLat}
		)
	</insert>
	
	<insert id="insertBoardImageList" parameterType="list" >
		
		INSERT INTO BOARD_IMG
			SELECT SEQ_IMG_NO.NEXTVAL IdLatO, A.* FROM(
			
				<foreach collection="list" item="img" separator="UNION ALL" >
					SELECT 			#{img.imageReName} IMG_RENAME,
									#{img.imageOriginal} IMG_ORIGINAL,
									#{img.imageLevel} 			IMG_LEVEL,
									#{img.boardNo}		BOARD_NO
					FROM DUAL
				</foreach>
				
			) A
	
	</insert>
	
	<select id="selectItemList" resultMap="itemBoard_rm">
		SELECT BOARD_NO, BOARD_TITLE, PRICE, UPDATE_DT, MEMBER_NO, TRADE_CONDITION
		FROM ITEM_BOARD
		WHERE UPDATE_DT >= SYSDATE - 7
		ORDER BY READ_COUNT
	</select>
	
	 <!-- 메인화면 섬네일 -->
	<select id="selectItemsImg" resultMap="boardImage_rm">
		SELECT * FROM (
			SELECT IMG_NO, IMG_RENAME, IMG_ORIGINAL, IMG_LEVEL, BOARD_NO, MEMBER_NO
			FROM BOARD_IMG
			JOIN ITEM_BOARD USING(BOARD_NO)
			WHERE IMG_LEVEL = 0
			ORDER BY UPDATE_DT DESC)
	</select>
	
	
	<!-- 메인화면에 아이템 5개만 가져오는 ajax -->
	<select id="selectitemFor" resultMap="itemBoard_rm">
		SELECT BOARD_NO, BOARD_TITLE, PRICE, UPDATE_DT, MEMBER_NO, TRADE_CONDITION
		FROM ITEM_BOARD
		WHERE UPDATE_DT >= SYSDATE - 7
		AND BOARD_NO &gt; #{boardNo}
		AND ROWNUM &lt; 6 
		ORDER BY BOARD_NO ASC
	</select>
	
	 <!-- 메인화면 5개만 가져오는 ajax 썸네일 -->
	<select id="selectItemsFor" resultMap="boardImage_rm">
		SELECT * FROM (
			SELECT IMG_NO, IMG_RENAME, IMG_ORIGINAL, IMG_LEVEL, BOARD_NO, MEMBER_NO
			FROM BOARD_IMG
			JOIN ITEM_BOARD USING(BOARD_NO)
			WHERE IMG_LEVEL = 0
			ORDER BY BOARD_NO ASC)
			WHERE BOARD_NO &gt; #{boardNo}
			AND ROWNUM &lt; 6 
	</select>


	<!-- 상품명 검색 -->
	<select id="searchBoard" resultMap="itemBoard_rm">
		SELECT BOARD_NO, BOARD_TITLE, PRICE, UPDATE_DT, MEMBER_NO, TRADE_CONDITION

		FROM ITEM_BOARD
		WHERE SECESSION_FL = 'N'

		<if test='query != null and query != ""'>
		
			AND
			( BOARD_TITLE LIKE '%${query}%'
			OR
			BOARD_CONTENT LIKE '%${query}%')

		</if>

		ORDER BY READ_COUNT

	</select>
	
	
	
	<!-- 판매글에 해당하는 회원번호 조회 -->
	<select id="selectMemberNo" resultType="_int">
		SELECT MEMBER_NO, BUY_MEMBER_NO
		FROM ITEM_BOARD
		WHERE BOARD_NO = ${boardNo}
	</select>
	
	
	
	
	
	<!-- 판매자 다른 상품 보기 -->
	<select id="selectOtherItems" resultMap="itemBoard_rm">
		SELECT * FROM (
			SELECT BOARD_TITLE, PRICE, UPDATE_DT, BOARD_NO
			FROM ITEM_BOARD
			WHERE MEMBER_NO = ${memberNo}
			AND BOARD_NO != ${boardNo}
			ORDER BY UPDATE_DT DESC)
		<![CDATA[WHERE ROWNUM <= 5]]>
	</select>
	
	<!-- 판매자 다른 상품 이미지 보기 -->
	<select id="selectOtherItemsImg" resultMap="boardImage_rm">
		SELECT * FROM (
			SELECT IMG_NO, IMG_RENAME, IMG_ORIGINAL, IMG_LEVEL, BOARD_NO, MEMBER_NO
			FROM BOARD_IMG
			JOIN ITEM_BOARD USING(BOARD_NO)
			WHERE MEMBER_NO = ${memberNo}
			AND BOARD_NO != ${boardNo}
			AND IMG_LEVEL = 0
			ORDER BY UPDATE_DT DESC)
		<![CDATA[WHERE ROWNUM <= 5]]>
	</select>
	
	
	
	<!-- 판매자 회원 정보 조회 -->
	<select id="sellMemberInfo" resultMap="member_rm">
		SELECT MEMBER_NICK, MEMBER_GRAPE, MEMBER_PROFILE
		FROM MEMBER
		WHERE MEMBER_NO = ${memberNo}
	</select>
	
	<insert id="addFav">
		INSERT INTO BOOKMARK VALUES(${loginMemberNo}, ${boardNo})
	</insert>
	
	<insert id="addCountAdd">
		UPDATE ITEM_BOARD SET BOOKMARK_COUNT = BOOKMARK_COUNT + 1
		WHERE BOARD_NO = ${boardNo}
	</insert>
	
	<update id="updateBoard">
		UPDATE ITEM_BOARD SET
		BOARD_TITLE = #{boardTitle},
		BOARD_CONTENT = #{boardContent},
		UPDATE_DT = SYSDATE
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateBoardImage">
		UPDATE BOARD_IMG SET
		IMG_RENAME = #{imageReName},
		IMG_ORIGINAL = #{imageOriginal}
		WHERE BOARD_NO = #{boardNo}
		AND IMG_LEVEL = #{imageLevel}
	</update>
	
	<insert id="insertBoardImage">
		INSERT INTO BOARD_IMG VALUES (
			SEQ_IMG_NO.NEXTVAL, #{imageReName}, #{imageOriginal}, #{imageLevel}, #{boardNo}
		)
	</insert>
	
	<!-- 수정용 상세 조회 (글)-->
	<select id="selectBoardDetail" resultMap="itemBoard_rm">
		SELECT BOARD_TITLE, BOARD_CONTENT, SELL_AREA, ITEM_CONDITION, DELIVERY, PRICE, MEMBER_NO
		FROM ITEM_BOARD
		WHERE BOARD_NO = ${boardNo}
	</select>
	
	<!-- 게시글 이미지 삭제 (IN 구문 작성 시 삭제되는 deleteList에 ''가 없도록 주의해야 한다) -->
	<delete id="deleteBoardImage">
		DELETE FROM BOARD_IMG
		WHERE BOARD_NO = ${boardNo}
		AND IMG_LEVEL IN (${deleteList})
	</delete>
	
		

	<select id="selectDate" resultMap="itemBoard_rm">
		SELECT UPDATE_DT
		FROM ITEM_BOARD
	</select>
	
	<select id=""></select>
	
</mapper>


