<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="member" id="member_rm">
	
	<id property="memberNo" 			column="MEMBER_NO"/>
	<result property="memberId" 		column="MEMBER_ID"/>
	<result property="memberPw" 		column="MEMBER_PW"/>
	<result property="memberNickname" 	column="MEMBER_NICK"/>
	<result property="memberName"		column="MEMBER_NM"/>
	<result property="memberTel" 		column="MEMBER_TEL"/>
	<result property="secessionFlag" 	column="SECESSION_FL"/>
	<result property="memberProfile" 	column="MEMBER_PROFILE"/>
	<result property="memberGrape" 		column="MEMBER_GRAPE"/>
	<result property="memberAddress" 	column="MEMBER_ADDR"/>
	<result property="memberTown" 		column="MEMBER_TOWN"/>
	<result property="createDate" 		column="CREATE_DT"/>
	<result property="admin"  			column="ADMIN" />
	<result property="shopInfo"  		column="SHOP_INFO" />
	<result property="dLon" 			column="COORDINATE_X"/>
	<result property="dLat" 			column="COORDINATE_Y"/>
	<result property="distance" 		column="DISTANCE"/>
	
	</resultMap>


	<resultMap type="admin" id="admin_rm">
		<id property="boardNo" column="ADMIN_BOARD_NO"/>
		
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="readCount" column="READ_COUNT"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="updateDate" column="UPDATE_DT"/>
		<result property="boardCode" column="BOARD_CD"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="classification" column="CLASSIFICATION"/>
	</resultMap>
	
	
	<resultMap type="adminReply" id="adminReply_rm">
		<id property="replyNo" column="REPLY_NO"/>
		
		<result property="boardNo" column="ADMIN_BOARD_NO"/>
		<result property="replyContent" column="REPLY_CONTENT"/>
		<result property="createDate" column="CREATE_DT"/>
	</resultMap>
	
	
	<resultMap type="boardImage" id="boardImage_rm">
		<id property="imageNo" column="IMG_NO"/>
		<result property="imageReName" column="IMG_RENAME"/>
		<result property="imageOriginal" column="IMG_ORIGINAL"/>
		<result property="imageLevel" column="IMG_LEVEL"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>
	
	<resultMap type="boardImage" id="adminImage_rm">
		<id property="imageNo" column="IMG_NO"/>
		<result property="imageReName" column="IMG_RENAME"/>
		<result property="imageOriginal" column="IMG_ORIGINAL"/>
		<result property="imageLevel" column="IMG_LEVEL"/>
		<result property="boardNo" column="ADMIN_BOARD_NO"/>
	</resultMap>
	
	<resultMap type="memberArea" id="memberArea_rm">
		<id property="mcrdntNo" column="MCRDNT_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="dLon" column="COORDINATE_X"/>
		<result property="dLat" column="COORDINATE_Y"/>
		<result property="distance" column="DISTANCE"/>
	</resultMap>

	<!-- 로그인 -->
	<select id="login" parameterType="member" resultMap="member_rm">
		SELECT A.MEMBER_NO, A.MEMBER_ID, A.MEMBER_NICK, A.MEMBER_TEL, 
			A.SECESSION_FL, A.MEMBER_PROFILE, A.MEMBER_GRAPE, A.MEMBER_ADDR, 
			TO_CHAR( A.CREATE_DT, 'YYYY-MM-DD HH24:MI:SS' ) AS CREATE_DT, A.MEMBER_TOWN, A.MEMBER_PW, A.ADMIN,
			B.COORDINATE_X, B.COORDINATE_Y, B.DISTANCE
		FROM MEMBER A, MEMBERAREA_XY B
		WHERE A.MEMBER_ID = #{memberId}
		AND A.SECESSION_FL = 'N'
		AND A.MEMBER_NO = B.MEMBER_NO
	</select>
	
	
	<!-- 회원가입 -->
	<insert id="signUp" parameterType="member" useGeneratedKeys="true">
	
		<selectKey keyProperty="memberNo" resultType="_int" order="BEFORE">
			SELECT SEQ_MEMBER_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO MEMBER 
		VALUES(#{memberNo}, #{memberId}, #{memberPw}, #{memberNickname}, #{memberTel}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, #{memberAddress}, DEFAULT, DEFAULT, #{memberName})
	</insert>
	
	
	<!-- 위도, 경도 변경 -->
	<insert id="insertCrdnt" parameterType="memberArea">
		INSERT INTO MEMBERAREA_XY
		VALUES(
			SEQ_MCRDNT_NO.NEXTVAL, ${memberNo}, ${dLon}, ${dLat}, DEFAULT
		) 
	</insert>
	
	
	<!-- 네이버 회원가입 -->
	<insert id="naverSignUp" parameterType="member">
		INSERT INTO MEMBER 
		VALUES(SEQ_MEMBER_NO.NEXTVAL, #{memberId}, 'xxxx', #{memberId}, 01011111111, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, 'aaa', DEFAULT, DEFAULT, NULL)
	</insert>
	
	
	<!-- 아이디 중복체크 -->
	<select id="idDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND SECESSION_FL = 'N'
	</select>
	
	
  	<!-- 닉네임 중복 체크 -->
  	<select id="nicknameDupCheck" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_NICK = #{memberNickname}
		AND SECESSION_FL = 'N'
  	</select>
  	
  	<!-- 아이디 찾기 -->
  	<select id="findId" parameterType="member" resultMap="member_rm">
  		SELECT MEMBER_ID, CREATE_DT 
  		FROM MEMBER
  		WHERE MEMBER_NM = #{memberName}
  		AND MEMBER_TEL = #{memberTel} 
  		AND SECESSION_FL ='N'
  	</select>
  	
  	<!-- 비밀번호 찾기 -->
  	<select id="findPw" parameterType="string" resultType="string">
  		SELECT MEMBER_ID
  		FROM MEMBER
  		WHERE MEMBER_ID = #{memberId}
  		AND MEMBER_NM  = #{memberName}
  		AND MEMBER_TEL = #{memberTel} 
  		AND SECESSION_FL ='N'
  	</select>
  	
  	<!-- 비밀번호 찾기 아이디 조회 -->
  	<select id="searchId" parameterType="string" resultType="string">
  		SELECT MEMBER_ID
  		FROM MEMBER
  		WHERE MEMBER_ID = #{memberId}
  	</select>
  	
  	


  	<update id="resetPw" parameterType="member">
  		UPDATE MEMBER SET
  		MEMBER_PW = #{memberPw}
  		WHERE MEMBER_ID = #{memberId}
  		
  	</update>
  	
  	<!-- 1대1 문의글 내용 작성 -->
  	<insert id="inquireWrite"  useGeneratedKeys="true"> 
	
		<selectKey keyProperty="boardNo" resultType="_int" order="BEFORE">
			SELECT SEQ_ADMIN_BOARD_NO.NEXTVAL FROM DUAL
		
		</selectKey>
	
		INSERT INTO ADMIN_BOARD VALUES(
			#{boardNo}, #{boardContent}, #{boardContent},
			DEFAULT, DEFAULT, DEFAULT, 3, #{memberNo}, #{select}
		)
	
	</insert>
	
	<!-- 1대1 문의글 이미지 삽입 -->
	<insert id="insertBoardImageList" parameterType="list" >
		
		INSERT INTO ADMIN_BOARD_IMG
			SELECT SEQ_ADMIN_IMG_NO.NEXTVAL IMG_NO, A.* FROM(
			
				<foreach collection="list" item="img" separator="UNION ALL" >
					SELECT 			#{img.imageReName} IMG_RENAME,
									#{img.imageOriginal} IMG_ORIGINAL,
									#{img.imageLevel} 			IMG_LEVEL,
									#{img.boardNo}		ADMIN_BOARD_NO
					FROM DUAL
				</foreach>
				
			) A
	
	</insert>
	
	<!-- 본인이 쓴 1대1 문의글 숫자 조회 -->
	<select id="inquireCount" resultType="_int">
		SELECT COUNT(*) FROM ADMIN_BOARD
		WHERE BOARD_CD = 3
		AND MEMBER_NO= #{memberNo}
	</select>
	
	<!-- 1대1 문의에 해당하는 회원 번호 조회 DAO -->
	<select id="selectMemberNo" resultType="_int">
		SELECT MEMBER_NO
		FROM ADMIN_BOARD
		WHERE ADMIN_BOARD_NO = ${boardNo}
	</select>
	
	<!-- 1대1 문의에 해당하는 이미지 리스트 조회 -->
	<select id="selectBoardImageList" resultMap="adminImage_rm">
		SELECT * FROM ADMIN_BOARD_IMG
		WHERE ADMIN_BOARD_NO = #{boardNo}
		ORDER BY IMG_LEVEL
	</select>
	
	
	<!-- 1대1 문의에 해당하는 회원정보 조회 DAO -->
	<select id="sellMemberInfo" resultMap="member_rm">
		SELECT MEMBER_NICK, MEMBER_GRAPE, MEMBER_PROFILE
		FROM MEMBER
		WHERE MEMBER_NO = ${memberNo}
	</select>
	
	<!-- 1대1 문의에 해당하는 회원 번호 조회 DAO -->
	<select id="inquireDetail" resultMap="admin_rm">
		SELECT MEMBER_NO, BOARD_CONTENT, CREATE_DT, BOARD_CD, CLASSIFICATION
		FROM ADMIN_BOARD
		WHERE ADMIN_BOARD_NO = ${boardNo}
	</select>
	

	
	<!-- 1대1 문의에 작성된 관리자 답변 조회 -->
	<select id="selectAdminReply" resultMap="adminReply_rm">
		SELECT REPLY_NO, REPLY_CONTENT, CREATE_DT, ADMIN_BOARD_NO
		FROM ADMIN_REPLY
		WHERE ADMIN_BOARD_NO = ${boardNo}
		ORDER BY ADMIN_BOARD_NO DESC
	</select>
	
	
	<!-- 1대1 문의에 관리자 답변 하기 -->
	<insert id="adminReplyWrite" useGeneratedKeys="true">
		<selectKey keyProperty="replyNo" resultType="_int" order="BEFORE">
			SELECT SEQ_ADMIN_REPLY_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO ADMIN_REPLY VALUES(
			#{replyNo}, #{boardContent}, DEFAULT, #{boardNo}
		)
	</insert>
	
	
	<!-- 본인이 작성한 1대1 문의글 전체 조회 -->
	<select id="inquireList" resultMap="admin_rm">
		SELECT MEMBER_NO, BOARD_CONTENT, CREATE_DT, BOARD_CD, CLASSIFICATION, ADMIN_BOARD_NO
		FROM ADMIN_BOARD
		WHERE MEMBER_NO = ${memberNo}
		AND BOARD_CD = 3
		ORDER BY ADMIN_BOARD_NO DESC
	</select>
	
</mapper>
