<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">

	<update id="updateInfo">
		UPDATE MEMBER SET
		MEMBER_NICK = #{updateNickname},
		MEMBER_TEL = #{updateTel},
		MEMBER_ADDR = #{memberAddress}
		WHERE MEMBER_NO = ${memberNo}
	</update>
	
	<update id="updatePw">
		UPDATE MEMBER SET
		MEMBER_PW = #{newPw}
		WHERE MEMBER_NO = ${memberNo}
	</update>
	
	<select id="selectCurrentPw">
		SELECT MEMBER_PW FROM MEMBER
		WHERE MEMBER_NO = ${memberNo}
	</select>
	
	<update id="secession">
		UPDATE MEMBER_S SET
		SECESSION_FL = 'Y'
		WHERE MEMBER_NO = ${memberNo}
	</update>
	
	

</mapper>