<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<!-- SqlSessionTemplate 생성 시 적용될 설정 작성 부분 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 별칭 작성 부분 -->
	<typeAliases>
		<typeAlias type="edu.kh.podo.member.model.vo.Member" alias="member"/> 
		<typeAlias type="edu.kh.podo.member.model.vo.Note" alias="note"/> 
		<typeAlias type="edu.kh.podo.member.model.vo.Review" alias="review"/> 
		<typeAlias type="edu.kh.podo.admin.model.vo.Admin" alias="admin"/> 
		<typeAlias type="edu.kh.podo.board.itemBoard.model.vo.ItemBoard" alias="itemBoard"/> 
		<typeAlias type="edu.kh.podo.board.itemBoard.model.vo.BoardType" alias="boardType"/> 
	</typeAliases>
	
	<!-- mapper 파일(SQL 작성되는파일) 위치 등록 부분 -->
	<mappers>
		<mapper resource="/mappers/myPage-mapper.xml" />
		<mapper resource="/mappers/note-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/myShop-mapper.xml" />
		<mapper resource="/mappers/itemBoard-mapper.xml" />
		<mapper resource="/mappers/admin-mapper.xml" />
	</mappers>
	
</configuration>
